/* Body Font (Metro) */
@font-face {
  font-family: 'Metro';
  src: url('/fonts/metro/metro-sans-book.woff2') format('woff2'),
    url('/fonts/metro/metro-sans-book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metro';
  src: url('/fonts/metro/metro-sans-regular.woff2') format('woff2'),
    url('/fonts/metro/metro-sans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metro';
  src: url('/fonts/metro/metro-sans-semi-bold.woff2') format('woff2'),
    url('/fonts/metro/metro-sans-semi-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metro';
  src: url('/fonts/metro/metro-sans-bold.woff2') format('woff2'),
    url('/fonts/metro/metro-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
