.dark-theme {
  --variables-form-input-error-bg: #1f1315;
  --variables-form-input-error-border: #822025;
  --variables-form-input-bg: #ffffff08;
  --variables-form-input-border: #3e3e3e;
  --variables-form-input-disabled-bg: #ffffff14;
  --variables-form-input-icon: #8f8f8f;
  --variables-form-label: #ededed;
  --variables-form-label-secondary: #707070;
  --variables-text-body: #ededed;
  --variables-text-secondary: #a0a0a0;
  --variables-text-light: #707070;
  --variables-text-link: #3ecf8e;
  --variables-text-gradient: linear-gradient(90deg, #fcfcfc  0%, #fcfcfc80 100%);
  --variables-text-green-gradient: linear-gradient(45deg, #34B97D 0%, #3ECF8E 100%);
  --variables-panel-bg: #232323;
  --variables-panel-border: #282828;
  --variables-panel-bg-alt: #282828;
  --variables-panel-border-alt: #2e2e2e;
  --variables-panel-bg-accent: #262626;
  --variables-panel-divider: linear-gradient(90deg, #16161680  0%, #505050 100%);
  --variables-panel-warning-bg: #ffb224;
  --variables-panel-warning-text: #271700;
  --variables-panel-warning-text-secondary: #824e00;
  --variables-panel-danger-bg: #e5484d;
  --variables-panel-danger-text: #FFFCFC;
  --variables-panel-danger-text-secondary: #f9c6c6;
  --variables-background-primary: #1c1c1c;
  --variables-background-border: #282828;
  --variables-background-alt: #161616;
  --variables-button-danger-bg: #e5484d;
  --variables-button-danger-border: #822025;
  --variables-button-danger-text: #ededed;
  --variables-button-warning-bg: #3f2200;
  --variables-button-warning-border: #693f05;
  --variables-button-warning-text: #ffb224;
  --variables-button-default-bg: #2e2e2e;
  --variables-button-default-border: #3e3e3e;
  --variables-button-default-text: #ededed;
  --variables-button-outline-border: #343434;
  --variables-datatable-input-default: #ededed;
  --variables-datatable-header-label: #a0a0a0;
  --variables-datatable-header-bg: #282828;
  --variables-datatable-header-icon: #707070;
  --variables-datatable-row-bg: #232323;
  --variables-datatable-separator: #2e2e2e;
  --variables-illustration-background: #232323;
  --variables-illustration-background-lighter: #343434;
  --variables-illustration-background-lighter-low-opacity: #343434;
  --variables-illustration-border: #3e3e3e;
  --variables-illustration-text: #ecedee;
  --variables-illustration-text-gray: #a0a0a0;
  --variables-illustration-dialog-box-light: #282828;
  --variables-illustration-dialog-box-2: #282828;
  --variables-illustration-dialog-box-1: #2e2e2e;
  --variables-illustration-gradient-line: linear-gradient(90deg, #232323 0%, #ecedee 100%);
  --variables-icon-background: #232323;
  --variables-icon-outline: #707070;
  --variables-icon-fill-1: #1c1c1c;
  --variables-icon-fill-2: #2e2e2e;
  --variables-icon-outline-green: #4cc38a;
  --variables-icon-fill-1-green: #133929;
  --variables-icon-fill-2-green: #1b543a;
  --variables-icon-negative-icons: linear-gradient(45deg, #ededed80 0%, #ffffff 100%);
  --variables-code-highlight1: #98C1FE;
  --variables-code-highlight2: #F2AFE3;
  --variables-code-highlight3: #3ecf8e;
  --variables-code-highlight4: #D4D4D4;
  --variables-charts-primary: #cbf5ff;
  --variables-charts-warning: #ffa600db;
  --variables-charts-danger: #e5484d;
  --variables-charts-multi-1: #7ff4f0;
  --variables-charts-multi-2: #cb77fd;
  --variables-badge-text: #4cc38a;
  --variables-badge-background: #113123;
  --variables-badge-secondary-background: #2e2e2e;
  --variables-badge-secondary-text: #707070;
  --variables-card-alt-background: #121212;
  --variables-card-border: linear-gradient(30deg, #2e2e2e  0%, #232323 100%);
  --variables-card-border-active: linear-gradient(30deg, #3e3e3e  0%, #232323 100%);
  --variables-card-background-active: #232323;
  --variables-card-text: linear-gradient(45deg, #ffffff 0%, #CCEBD7 100%);
  --variables-card-pill-label: linear-gradient(90deg, #3432321a 0%, #d0d0d01a 100%);
  --variables-card-pill-label-border: linear-gradient(90deg, #3432321a 0%, #ffffff00 100%);
  --variables-card-lw6-illustration-dark-fill: linear-gradient(60deg, #121212 0%, #232323 100%);
  --variables-card-lw6-illustration-border-highlight: linear-gradient(45deg, #232323 50%, #3fcfb5 100%);
  --variables-card-lw6-illustration-teal-fill: linear-gradient(45deg, #12121200 0%, #08b8b24d 100%);
  --variables-card-lw6-illustration-accent-color: #4DA08B;
  --164430: #164430;
  --button-default-shadow: 0 -1 0 1 #343434;
  --button-primary-shadow: 0 -1 0 1 #62dba5;
  --typography-h1-bold: Medium 48/48 Circular Std;
  --typography-h1-regular: Book 48/48 Circular Std;
  --typography-h2-bold: Medium 36/40 Circular Std;
  --typography-h2-regular: Book 36/40 Circular Std;
  --typography-h3-bold: Medium 30/36 Circular Std;
  --typography-h3-regular: Book 30/36 Circular Std;
  --typography-h4-bold: Medium 24/32 Circular Std;
  --typography-h4-regular: Book 24/32 Circular Std;
  --typography-h4-mono: Medium 24/32 Office Code Pro;
  --typography-h5-bold: Medium 20/28 Circular Std;
  --typography-h5-regular: Book 20/28 Circular Std;
  --typography-body-base-normal: Book 16/24 Circular Std;
  --typography-body-lg-normal: Book 18/28 Circular Std;
  --typography-body-lg-mono: Medium 18/32 Office Code Pro;
  --typography-body-xs-normal: Book 12/16 Circular Std;
  --typography-body-xs-code-header: Medium 12/20 Office Code Pro;
  --typography-body-sm-normal: Book 14/20 Circular Std;
  --typography-body-sm-code-header: Regular 14/20 Office Code Pro;
  --typography-body-sm-code-normal: Regular 14/20 Office Code Pro;
  --typography-body-sm-bullet-points: Book 14/20 Circular Std;
  --typography-button-xs: Book 12/16 Circular Std;
  --typography-button-sm: Book 14/20 Circular Std;
  --typography-form-label: Book 14/20 Circular Std;
  --typography-form-label-secondary: Book 14/20 Circular Std;
  --typography-table-header: Book 12/20 Circular Std;
}