.light-theme {
  --variables-form-input-error-bg: #FFFCFC;
  --variables-form-input-error-border: #f3aeaf;
  --variables-form-input-bg: #fbfcfd;
  --variables-form-input-border: #d7dbdf;
  --variables-form-input-disabled-bg: #021c3714;
  --variables-form-input-icon: #889096;
  --variables-form-label: #11181c;
  --variables-form-label-secondary: #889096;
  --variables-text-body: #11181c;
  --variables-text-secondary: #7e868c;
  --variables-text-light: #889096;
  --variables-text-link: #4cc38a;
  --variables-text-gradient: linear-gradient(90deg, #161616  0%, #16161680 100%);
  --variables-text-green-gradient: linear-gradient(45deg, #3cb179 0%, #62ffb3bd 100%);
  --variables-panel-bg: #fbfcfd;
  --variables-panel-border: #eceef0;
  --variables-panel-bg-alt: #f8f8f8;
  --variables-panel-border-alt: #dfe3e6;
  --variables-panel-divider: linear-gradient(90deg, #ededed80  0%, #232323 100%);
  --variables-panel-warning-bg: #ffb224;
  --variables-panel-warning-text: #4e2009;
  --variables-panel-warning-bg-alt: #ffecbc;
  --variables-panel-danger-bg: #dc3d43;
  --variables-panel-danger-bg-alt: #eb9091;
  --variables-panel-danger-text: #FFFCFC;
  --variables-background-primary: #f8f9fa;
  --variables-background-border: #e6e8eb;
  --variables-background-alt: #ffffff;
  --variables-button-danger-bg: #e5484d;
  --variables-button-danger-border: #822025;
  --variables-button-danger-text: #11181c;
  --variables-button-warning-bg: #3f2200;
  --variables-button-warning-border: #693f05;
  --variables-button-warning-text: #ffb224;
  --variables-button-default-bg: #fbfcfd;
  --variables-button-default-border: #e6e8eb;
  --variables-button-default-text: #11181c;
  --variables-button-outline-border: #313538;
  --variables-datatable-input-default: #11181c;
  --variables-datatable-header-label: #687076;
  --variables-datatable-header-bg: #f1f3f5;
  --variables-datatable-header-icon: #889096;
  --variables-datatable-row-bg: #f1f3f5;
  --variables-datatable-separator: #e6e8eb;
  --variables-illustration-background: #f1f3f5;
  --variables-illustration-background-lighter: #ffffff;
  --variables-illustration-border: #eceef0;
  --variables-illustration-text: #202425;
  --variables-illustration-text-gray: #9ba1a6;
  --variables-illustration-dialog-box-light: #d7dbdf;
  --variables-illustration-dialog-box-2: #e6e8eb;
  --variables-illustration-dialog-box-1: #eceef0;
  --variables-icon-background: #fcfcfc;
  --variables-icon-outline: #c7c7c7;
  --variables-icon-fill-1: #e8e8e8;
  --variables-icon-fill-2: #dbdbdb;
  --variables-icon-background-green: #b4dfc4;
  --variables-icon-outline-green: #299764;
  --variables-icon-fill-1-green: #92ceac;
  --variables-icon-fill-2-green: #92ceac;
  --variables-icon-negative-icons: linear-gradient(45deg, #17171780 0%, #000000 100%);
  --variables-badge-text: #4cc38a;
  --variables-badge-background: #ddf3e4;
  --variables-card-alt-background: #ffffff;
  --variables-card-pill-label: linear-gradient(90deg, #3432321a 0%, #d0d0d01a 100%);
  --variables-card-text: linear-gradient(45deg, #000000 0%, #82978D 100%);
  --variables-card-lw6-illustration-dark-fill: linear-gradient(60deg, #ffffff1a 0%, #08b8b24d 100%);
  --variables-card-lw6-illustration-border-highlight: linear-gradient(45deg, #4040401a 50%, #3fcfb5 100%);
  --variables-card-lw6-illustration-teal-fill: linear-gradient(45deg, #ffffff80 0%, #08b8b24d 100%);
  --variables-card-lw6-illustration-accent-color: #249C95;
  --button-default-shadow: 0 -1 0 1 #313538;
  --button-primary-shadow: 0 -1 0 1 #62dba5;
  --typography-h1-bold: Medium 48/48 Circular Std;
  --typography-h1-regular: Book 48/48 Circular Std;
  --typography-h2-bold: Medium 36/40 Circular Std;
  --typography-h2-regular: Book 36/40 Circular Std;
  --typography-h3-bold: Medium 30/36 Circular Std;
  --typography-h3-regular: Book 30/36 Circular Std;
  --typography-h4-bold: Medium 24/32 Circular Std;
  --typography-h4-regular: Book 24/32 Circular Std;
  --typography-h4-mono: Medium 24/32 Office Code Pro;
  --typography-h5-bold: Medium 20/28 Circular Std;
  --typography-h5-regular: Book 20/28 Circular Std;
  --typography-body-base-normal: Book 16/24 Circular Std;
  --typography-body-lg-normal: Book 18/28 Circular Std;
  --typography-body-lg-mono: Medium 18/32 Office Code Pro;
  --typography-body-xs-normal: Book 12/16 Circular Std;
  --typography-body-xs-code-header: Medium 12/20 Office Code Pro;
  --typography-body-sm-normal: Book 14/20 Circular Std;
  --typography-body-sm-code-header: Regular 14/20 Office Code Pro;
  --typography-body-sm-code-normal: Regular 14/20 Office Code Pro;
  --typography-body-sm-bullet-points: Book 14/20 Circular Std;
  --typography-button-xs: Book 12/16 Circular Std;
  --typography-button-sm: Book 14/20 Circular Std;
  --typography-form-label: Book 14/20 Circular Std;
  --typography-form-label-secondary: Book 14/20 Circular Std;
  --typography-table-header: Book 12/20 Circular Std;
}