@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../../../packages/ui/build/css/source/global.css';
@import './../../../packages/ui/build/css/themes/dark-combined.css';
@import './../../../packages/ui/build/css/themes/light.css';

@font-face {
  font-family: 'custom-font';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url(../../../packages/common/assets/fonts/CustomFont-Book.woff2) format('woff2'),
    url(../../../packages/common/assets/fonts/CustomFont-Book.woff) format('woff');
}

@font-face {
  font-family: 'custom-font';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url(../../../packages/common/assets/fonts/CustomFont-Medium.woff2) format('woff2'),
    url(../../../packages/common/assets/fonts/CustomFont-Medium.woff) format('woff');
}

:root {
  --sidebar-width: 300px;
  --header-height: 50px;
}

body {
  @apply bg-background text-foreground;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply bg-green-300 text-gray-900;
}

.thin-scrollbar {
  scrollbar-width: thin;
}

.sidebar-width {
  width: var(--sidebar-width);
}

.docs-width {
  max-width: calc(100% - var(--sidebar-width));
  @media screen and (max-width: 1024px) {
    max-width: none;
  }
}

.width-full {
  @apply w-full;
}

.p:not(.prose *):not(.overwrite) {
  @apply text-foreground-light mb-4;
}

.small:not(.prose *):not(.overwrite) {
  @apply text-foreground-muted text-xs;
}

.prose :where(p):not(:where([class~='not-prose'] *)) {
  white-space: pre-line;
}

code[class*='language-'],
pre[class*='language-'] {
  text-shadow: none;
}

.method-list-item {
  @apply border-t border-gray-400;
}

.method-list-item-label {
  @apply flex items-center gap-1;
}

.method-list-item-label-name {
  @apply font-mono font-bold text-sm py-2;
}

.method-list-item-label-badge {
  @apply font-mono text-xs px-1;
  overflow-wrap: anywhere;
}

.method-list-item-validation {
  @apply flex flex-wrap gap-2 items-center;
}

.method-list-item-description {
  @apply text-sm space-y-2;
}

.method-list-group {
  @apply p-0 m-0 list-none border-b;
}

.method-list-group .method-list-group {
  @apply border border-overlay rounded-md mb-5 max-w-[600px];
}

.method-list-group .method-list-group li {
  @apply p-3 border-b-0;
}

.method-list-title {
  @apply p-2;
}

.video-container {
  @apply relative w-full;
  padding-bottom: 56.25%;
}

.video-container iframe {
  @apply absolute top-0 left-0 w-full h-full border-0;
}

.admonition-content > p {
  @apply m-0;
}

h2 code, h3 code, h4 code {
  @apply break-keep whitespace-nowrap px-1;
}

.admonition-content p code {
  @apply bg-control;
}

article p strong {
  @apply text-inherit;
}

a:has(code) {
  box-shadow: none;
}

article p code::before,
article p code::after {
  display: none !important;
}

.short-inline-codeblock {
  word-wrap: break-word;
  @media screen and (min-width: 769px) {
    white-space: pre !important;
  }
}

.doc-content-container ul li div.relative {
  @apply inline-block;
}

.toc-menu li a code {
  background: none;
  border: none;
}

.next-image--dynamic-fill {
  @apply w-full;
  grid-column: 1 / -1;
}

.next-image--dynamic-fill > span {
  @apply relative;
}

.next-image--dynamic-fill img {
  @apply object-contain w-full relative;
  height: unset !important;
}

#docs-content-container #introduction {
  @apply scroll-mt-60;
}

.dg.ac {
  @apply z-[9999];
}

th code {
  @apply text-nowrap;
}

.prose :where(td) code {
  @apply break-all;
}

[data-rmiz-modal]:focus,
[data-rmiz-modal-overlay]:focus {
  @apply outline-none;
}

[data-rmiz-modal-overlay],
[data-rmiz-modal-img] {
  transition-timing-function: cubic-bezier(0.24, 0.25, 0.05, 1) !important;
}

[data-rmiz-modal-overlay='visible'] {
  @apply bg-background-default opacity-80;
}

[data-rmiz-modal-img] {
  image-rendering: high-quality;
}

.shimmering-loader {
  @apply animate-pulse;
  background: linear-gradient(
    to right,
    hsl(var(--border-default)) 4%,
    hsl(var(--background-surface-200)) 25%,
    hsl(var(--border-default)) 36%
  );
}

.dark .shimmering-loader {
  background: linear-gradient(
    to right,
    hsl(var(--border-default)) 4%,
    hsl(var(--border-control)) 25%,
    hsl(var(--border-default)) 36%
  );
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skip-link {
  @apply sr-only;
}

.skip-link:focus {
  @apply not-sr-only;
}












