.sbui-avatar {
    @apply rounded-full;
}

.sbui-avatar-type-rounded {
    border-radius: 10%;
}

.sbui-avatar-type-square {
    border-radius: 0;
}

.sbui-avatar-image {
    object-fit: 'contain';
    border-radius: '50%';
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-children {
    @apply flex;
    @apply justify-center;
    @apply items-center
}

.sbui-avatar-icon {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-text {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    float: left;
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-fallback {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background-color: cadetblue;
    height: 3rem;
    width: 3rem;
}

.sbui-avatar-single {

}

.sbui-avatar-multiple {

}

.sbui-image-responsive {
    width: 100%;
    height: auto;  
}
