
# Copy and paste this file and rename it to .env.local

# Required for self hosted tests
# Mise infra running
STUDIO_URL=http://localhost:8082
API_URL=http://localhost:8080

# Required for platform tests
IS_PLATFORM=true
ORG_SLUG=
SUPA_PAT=
EMAIL=
PASSWORD=
