/* .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 12px;
} */

/* .formLeft {
  align-items: center;
}
.formCenter {
  align-items: center;
} */

/* @media (min-width: 1200px) {
  .formLeft {
    align-items: start;
  }
  .formCenter {
    align-items: center;
  }
} */
/* 
.formInfo {
  max-width: 520px;
} */

.formInfo h3 {
  font-size: 1.25em;
  font-weight: 400;
}

.formInfo p {
  font-size: 1.1em;
  line-height: 1.4;
  margin-bottom: 32px;
  color: var(--lw-secondary-color);
}

@media (min-width: 1200px) {
  /* .form.share-page {
    justify-content: flex-start;
  } */
}

/* .formInfoLeft {
  text-align: center;
}
.formInfoCenter {
  text-align: center;
  margin: 0 auto;
} */

@media (min-width: 1200px) {
  .formInfoLeft {
    text-align: left;
  }
  .formInfoCenter {
    text-align: center;
    margin: 0 auto;
  }
}

.input {
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: var(--text-md);
  color: #fff;
  font-family: inherit;
}

@media (min-width: 768px) {
  .input {
    width: calc(100% - var(--space-32x));
    padding-right: 0;
  }
}

.input::placeholder {
  color: var(--lw-secondary-color);
}

.input-label {
  background-color: var(--gray);
  border-radius: var(--space-2x);
  border: 1px solid transparent;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
  display: block;
}

.input-label.focused {
  background-color: #33373c;
}

.input-label.error {
  background: red;
}

.input-label.success {
  background: #0070f3;
}

.input-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-row {
  position: relative;
  max-width: 400px;
  width: 100%;
}

@media (min-width: 768px) {
  .form-row {
    max-width: 480px;
  }
}

.submit {
  width: 100%;
  height: 56px;
  margin-top: var(--space-4x);
  border-radius: var(--space-2x);
  border: 1px solid hsl(var(--brand-default));
  background: hsl(var(--brand-default));
  cursor: pointer;
  font-family: inherit;
  font-size: var(--text-md);
  letter-spacing: -0.02em;
  outline: none;
  font-weight: 500;
  color: white;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.submit.generate-with-github {
  display: flex;
  margin-bottom: 12px;
  position: relative;
}

@media (min-width: 768px) {
  .submit.register {
    width: 120px;
    height: 40px;
    margin-top: 0;
    position: absolute;
    border-radius: 5px;
    right: var(--space-2x);
    top: var(--space-2x);
  }
}

.submit.loading {
  cursor: default;
}

.submit.default:hover,
.submit.default:focus {
  background: black;
  color: hsl(var(--brand-default));
}

.submit.default.generate-with-github:hover path,
.submit.default.generate-with-github:focus path {
  fill: var(--brand);
}

.submit.error:hover,
.submit.error:focus {
  background: #000;
  color: #fff;
}

.submit.default:disabled,
.submit.default:disabled:hover,
.submit.default:disabled:focus {
  cursor: default;
  background: var(--gray);
  border-color: var(--gray);
  color: #fff;
  justify-content: flex-start;
  overflow: hidden;
}

.submit.default.generate-with-github:disabled path,
.submit.default.generate-with-github:disabled:hover path,
.submit.default.generate-with-github:disabled:focus path {
  fill: #fff;
}

.submit.default.generate-with-github.not-allowed:disabled {
  cursor: not-allowed;
}

@media (min-width: 1200px) {
  .form-row {
    margin: 0;
  }

  .submit.generate-with-github {
    width: 240px;
  }
}

.stage-btn {
  background: #323332;
  border: 2px solid #34b27b;
}

.github-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.or-divider {
  width: 100%;
  text-align: center;
  color: var(--lw-secondary-color);
  margin: var(--space-4x) 0;
}

@media (min-width: 1200px) {
  .github-wrapper {
    flex-direction: row;
  }
  .or-divider {
    width: 240px;
    margin: 0;
  }
}
