.visual {
  transform: translateZ(0);
  background-image: linear-gradient(154.77deg, #cb88ff 29.4%, #cb88ff 120.47%);
  box-shadow:
    0px 1px 27px #9e44ef10,
    0 0 0 1px rgba(121, 89, 134, 0.237),
    inset 0 0px 0 -2px rgba(0, 0, 0, 0.55);
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  border-radius: 16px;

  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  /* border: 1px solid #1c1c1c; */
  /* animation: 2s ease-in-out infinite alternate; */

  background-repeat: no-repeat;
  background-size: contain;
}

.visual--gold {
  background: radial-gradient(#fcdf9d, #dbb333);
}

.visual--gold::before {
  content: ' ';
  position: absolute;
  inset: 0;
  filter: drop-shadow(0 0 6px #fff) drop-shadow(0 0 6px #d99f0c) drop-shadow(0 0 9px #dbb333);
  background: radial-gradient(#fcdf9d, #dbb333);
  border: 1px solid rgba(255, 255, 0, 0.629);
  animation: opacity-pulse 2s ease-in-out infinite alternate;
}

@keyframes opacity-pulse {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes svg-shadow {
  from {
    filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 4px #d99f0c) drop-shadow(0 0 6px #d99f0c);
  }

  to {
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 6px #d99f0c) drop-shadow(0 0 9px #d99f0c);
  }
}

@keyframes blank-svg-shadow {
  from {
    filter: drop-shadow(0 0 2px #bada55) drop-shadow(0 0 2px #bada55) drop-shadow(0 0 2px #bada55);
  }

  to {
    filter: drop-shadow(0 0 3px #bada55) drop-shadow(0 0 2px #bada55) drop-shadow(0 0 2px #bada55);
  }
}

.logo {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.logo img {
  margin-top: calc(64px * var(--size));
  margin-left: calc(32px * var(--size));
  margin-left: calc(32px * var(--size));
  width: calc(272px * var(--size));
}

@media (min-width: 768px) {
  .logo img {
    margin-top: calc(32px * var(--size));
    width: calc(280px * var(--size));
    margin-left: calc(160px * var(--size));
  }
}

.profile {
  z-index: 1;
  position: absolute;
  top: 90px;
  width: 100%;
  padding: 46px 29px;
}

@media (min-width: 768px) {
  .profile {
    top: 50%;
    transform: translateY(-50%);
    padding-left: 65px;
  }
}

.info {
  z-index: 1;
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .info {
    bottom: 0;
  }
}
