# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\supabase\examples\cra-todo-list-auth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
