@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~ui/build/css/source/global.css';
@import '~ui/build/css/themes/dark.css';
@import '~ui/build/css/themes/light.css';

html,
body,main {
  @apply bg-background;
  @apply text-foreground;
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
