.sbui-popover__content {
  @apply bg-bg-primary-light dark:bg-bg-secondary-dark p-0;
  @apply border rounded shadow;
  border-style: solid;
  border-width: 1px;
}

.sbui-popover__arrow {
  @apply fill-current text-bg-primary-light dark:text-bg-secondary-dark;
  @apply border-0 border-t;
  border-style: solid;
}

.sbui-popover__close {
  @apply absolute top-1 right-0;
  @apply bg-transparent cursor-pointer border-none;
  @apply text-gray-300 hover:text-gray-400;
}
