/packages/shared-data/pricing.ts @roryw10 @kevcodez
/packages/shared-data/plans.ts @roryw10 @kevcodez

/apps/studio/ @supabase/Dashboard
/apps/www/ @supabase/Website
/apps/www/_blog @supabase/marketing
/apps/www/public/images/blog @supabase/marketing
/docker/ @supabase/cli
