/packages/ui/  @supabase/design
/packages/shared-data/pricing.ts @supabase/billing
/packages/shared-data/plans.ts @supabase/billing
/packages/common/telemetry-constants.ts @supabase/growth-eng
/packages/dev-tools/ @supabase/growth-eng
/packages/pg-meta @supabase/postgres @avallete
/packages/ui-patterns @supabase/design

/apps/studio/ @supabase/Dashboard

/apps/www/ @supabase/marketing
/apps/www/public/images/blog @supabase/marketing
/apps/www/lib/redirects.js

/docker/ @supabase/dev-workflows @supabase/self-hosted

/apps/studio/csp.js                                                 @supabase/security
/apps/studio/components/interfaces/Billing/Payment                  @supabase/security
/apps/studio/components/interfaces/Organization/Documents/          @supabase/security
/apps/studio/pages/new/index.tsx                                    @supabase/security

/apps/studio/data/sql/queries/                                      @supabase/postgres @avallete

/packages/shared-data/compute-disk-limits.ts @supabase/infra
