$clr-bg-main: #f8f8f2;
$clr-bg-box: #fff;
$clr-bg-quote: #4c48fe;
$clr-bg-quote-hover: #0f1396;
$clr-text-main: #bebebe;
$clr-text-headline: #131125;
$clr-text-link: #a0a4e3;
$clr-bg-box-alert: #f44336;
$clr-bd-box-alert: #dc3b2f;
$clr-text-alert: #fff;

$fnt-text-main: 'Source Sans Pro', sans-serif;
