# Root folder of this turbo monorepo
# Doesn't send useless context to Docker daemon
.git
.github
about
docker
examples
i18n
**/node_modules
apps/docs/spec
supabase
tests

**/.next
.vercel
**/.env.*

.dockerignore
apps/studio/Dockerfile
