AUTHENTICATED_KEY=TEST_JWT_REDACTED
ANON_KEY=TEST_JWT_REDACTED
SERVICE_KEY=TEST_JWT_REDACTED

S3_PROTOCOL_ACCESS_KEY_ID=b585f311d839730f8a980a3457be2787
S3_PROTOCOL_ACCESS_KEY_SECRET=67d161a7a8a46a24a17a75b26e7724f11d56b8d49a119227c66b13b6595601fb
S3_PROTOCOL_ALLOWS_SERVICE_KEY_AS_SECRET=false

TENANT_ID=bjhaohmqunupljrqypxz
DEFAULT_METRICS_ENABLED=false
PG_QUEUE_ENABLE=false
MULTI_TENANT=false
ADMIN_API_KEYS=apikey

DB_INSTALL_ROLES=true
IMAGE_TRANSFORMATION_ENABLED=true

AWS_ACCESS_KEY_ID=supa-storage
AWS_SECRET_ACCESS_KEY=secret1234
AWS_DEFAULT_REGION=ap-southeast-1

STORAGE_S3_ENDPOINT=http://127.0.0.1:9000
STORAGE_S3_PROTOCOL=http
STORAGE_S3_FORCE_PATH_STYLE=true
REQUEST_X_FORWARDED_HOST_REGEXP=

VECTOR_ENABLED=true
VECTOR_S3_BUCKETS=supa-test-local-dev
ICEBERG_ENABLED=true
ICEBERG_WAREHOUSE=.
ICEBERG_SHARDS=.
ICEBERG_CATALOG_URL=http://127.0.0.1:8181/v1
ICEBERG_CATALOG_AUTH_TYPE=token
ICEBERG_CATALOG_AUTH_TOKEN=token
ICEBERG_S3_DELETE_ENABLED=true
ICEBERG_BUCKET_DETECTION_MODE="BUCKET"

OTEL_METRICS_ENABLED=false
PROMETHEUS_METRICS_ENABLED=false
SERVICE_NAME=storage_api
