.env*
vendor/
tools/bin/
gotrue
gotrue-arm64
gotrue.exe
auth
auth-arm64
auth-amd64
auth-arm64-strip
auth-darwin-arm64
auth.exe

coverage.out

.DS_Store
.vscode
.idea
www/dist/
www/.DS_Store
www/node_modules
npm-debug.log
.data
tmp