.DS_Store
db
dist
.cabal-sandbox
cabal.sandbox.config
hscope.out
codex.tags
.anvil
.stack-work*
tags
site
*~
*#*
.#*
*.swp
result*
dist-*
postgrest.hp
postgrest.prof
__pycache__
*.tix
coverage
.hpc
loadtest
.history
.docs-build
gen_targets.http
gen_jwks.json
gen_private.json
.pytest_cache
.ruff_cache
postgrest-module-graph.png
.ghc.environment.*
