{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "endOfLine": "lf",
  "sqlKeywordCase": "lower",
  "pluginSearchDirs": ["./node_modules"],
  "plugins": ["prettier-plugin-sql-cst"]
}
