{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "endOfLine": "lf",
  "sqlKeywordCase": "lower",
  "plugins": ["prettier-plugin-sql-cst"],
  "overrides": [
    {
      "files": "**/*.json",
      "options": { "parser": "json" }
    }
  ]
}
