[Unit]
Description= Defer running the vector.service 60secs after boot up

[Timer]
OnBootSec=60s
Unit=vector.service

[Install]
WantedBy=multi-user.target
