.type-a {
  &:hover {
    text-decoration: underline;
  }
}

header {
  align-items: center;
  background-color: $clr-bg-box;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.025);
  display: flex;
  height: 75px;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 1rem;
  width: 100%;

  > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .username {
    color: $clr-text-headline;
  }
}
