@import 'config/tailwind.config.css';
@import 'config/typography.css';

@source '../app/**/*.{ts,tsx}';
@source '../components/**/*.{ts,tsx}';
@source './../../../packages/ui/src/**/*.{tsx,ts,js}';

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-default, currentColor);
  }
}
