@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@font-face {
  font-family: 'custom-font';
  src: url(/new/fonts/custom/CustomFont-Book.woff2) format('woff2'),
    url(/new/fonts/custom/CustomFont-Book.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'custom-font';
  src: url(/new/fonts/custom/CustomFont-Medium.woff2) format('woff2'),
    url(/new/fonts/custom/CustomFont-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

/*
  Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}

h1,
h2 {
  line-height: 1.2 !important;
}

p {
  @apply text-gray-light dark:text-gray-dark;
  margin-bottom: 16px;
}

.sbui-border-fix select {
  @apply border-solid;
  border-width: 1px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.section--masked {
  /* overflow: hidden; */
}

.section--bg-masked {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: visible; */
}

.section--bg {
  @apply bg-gray-50 dark:bg-gray-800;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: 100% 0;
  transform: skewY(-2deg);
  overflow: hidden;
  /* transform-origin: var(--sectionTransformOrigin);
    transform: skewY(var(--sectionAngle));
    background: var(--backgroundColor);
    overflow: 
    hidden; */
}

.section-container {
  position: relative;
  /* z-index: 1; */
  /* display: flex;
  justify-content: center; */
}

/* Database page */

.dashboard-tabs div[role='seperator'] {
  @apply border border-gray-50 dark:border-gray-700;
}

a {
  @apply hover:text-black dark:hover:text-white;
}

.sbui-tabs--alt div[role='tablist'] .sbui-btn-primary {
  @apply bg-gray-800 text-white dark:bg-gray-600 dark:text-white;
  text-shadow: none;
  font-weight: 400;
}
.sbui-tabs--alt div[role='tablist'] .sbui-btn-text {
  @apply dark:text-gray-400;
  font-weight: 400;
  shadow: none;
}

.sbui-tabs--underline-alt div[role='tablist'] .sbui-tab-button-underline--active {
  @apply border-gray-900 dark:border-white;
}
/* override position of tabs  */
.dashboard-tabs > div > div > div > div {
  justify-content: center;
}
