body {
  font-family: Helvetica, Arial, Sans-Serif;
}

a {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: underline;
}

input {
  display: block;
  width: 320px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  margin-bottom: 32px;
  cursor: pointer;
}

pre {
  background: black;
  color: white;
  padding: 16px;
}
