<div class="w-screen fixed flex flex-col min-h-screen bg-gray-50">
  <header class="flex justify-between items-center px-4 h-16 bg-gray-900">
    <span class="text-2xl sm:text-4xl text-white border-b font-sans"> Todo List. </span>
    <button
      (click)="handleLogout()"
      class="
        flex
        justify-center
        py-2
        px-4
        border border-transparent
        text-sm
        font-medium
        rounded-md
        text-white
        bg-blue-600
        hover:bg-blue-500
        focus:outline-none focus:border-blue-700 focus:shadow-outline-blue
        active:bg-blue-700
        transition
        duration-150
        ease-in-out
      "
    >
      Logout
    </button>
  </header>
  <div class="flex flex-col flex-grow p-4 todos-container">
    <div
      [ngClass]="{ 'auto-rows-min': todos.length }"
      class="p-2 border flex-grow grid gap-2 grid-cols-1 h-2/3 overflow-y-scroll first:mt-8"
    >
      <ng-container *ngIf="todos.length; else emptyList">
        <app-todo-item
          *ngFor="let todo of todos"
          [todo]="todo"
          (delete)="delete(todo.id)"
          (toggleComplete)="toggleComplete(todo.id, todo.is_complete)"
        >
        </app-todo-item>
      </ng-container>
      <ng-template #emptyList>
        <span class="h-full flex justify-center items-center"> You do have any tasks yet! </span>
      </ng-template>
    </div>
    <div
      *ngIf="errorText"
      class="
        border
        max-w-sm
        self-center
        px-4
        py-2
        mt-4
        text-center text-sm
        bg-red-100
        border-red-300
        text-red-400
      "
    >
      {{ errorText }}
    </div>
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()" class="flex m-4 mt-0 h-10 mt-8">
      <input
        formControlName="task"
        type="text"
        class="bg-gray-200 border px-2 border-gray-300 w-full mr-4"
      />
      <button
        type="submit"
        class="
          flex
          justify-center
          py-2
          px-4
          border border-transparent
          text-sm
          font-medium
          rounded-md
          text-white
          bg-blue-600
          hover:bg-blue-500
          focus:outline-none focus:border-blue-700 focus:shadow-outline-blue
          active:bg-blue-700
          transition
          duration-150
          ease-in-out
        "
      >
        Add
      </button>
    </form>
  </div>
</div>
