:root {
  --typography-h1-bold: 500 48px/48 Circular Std;
  --typography-h1-regular: 400 48px/48 Circular Std;
  --typography-h2-bold: 500 36px/40 Circular Std;
  --typography-h2-regular: 400 36px/40 Circular Std;
  --typography-h3-bold: 500 30px/36 Circular Std;
  --typography-h3-regular: 400 30px/36 Circular Std;
  --typography-h4-bold: 500 24px/32 Circular Std;
  --typography-h4-regular: 400 24px/32 Circular Std;
  --typography-h4-mono: 500 24px/32 Office Code Pro;
  --typography-h5-bold: 500 20px/28 Circular Std;
  --typography-h5-regular: 400 20px/28 Circular Std;
  --typography-body-base-normal: 400 16px/24 Circular Std;
  --typography-body-base-mono: 500 14px/32 Office Code Pro;
  --typography-body-lg-normal: 400 18px/28 Circular Std;
  --typography-body-xs-normal: 400 12px/16 Circular Std;
  --typography-body-xs-code-header: 500 12px/20 Office Code Pro;
  --typography-body-sm-normal: 400 14px/20 Circular Std;
  --typography-body-sm-code-header: 400 14px/20 Office Code Pro;
  --typography-body-sm-code-normal: 400 14px/20 Office Code Pro;
  --typography-body-sm-bullet-points: 400 14px/20 Circular Std;
  --typography-button-xs: 400 12px/16 Circular Std;
  --typography-button-sm: 400 14px/20 Circular Std;
  --typography-form-label: 400 14px/20 Circular Std;
  --typography-form-label-secondary: 400 14px/20 Circular Std;
  --typography-table-header: 400 12px/20 Circular Std;
}