.element {
  animation: element 8s infinite;
}

@keyframes element {
  39% {
    border-color: hsla(153, 60%, 28%, 1)
  }
  40% {
    border-color: #FFF;
  }
  75% {
    border-color: #FFF;
  }
  80% {
    border-color: hsla(153, 60%, 28%, 1)
  }
}

.cursor-1 {
  transform-origin: left;
  animation: cursor-1 8s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes cursor-1 {
  20%{
    transform: scale(1) translate(0)
  }
  25% {
    transform: scale(1) translate(-50px, -20px)
  }
  39% {
    transform: scale(1) translate(-50px, -20px)
  }
  40% {
    transform: scale(0.9) translate(-50px, -20px)
  }
  41% {
    transform: scale(1) translate(-50px, -20px)
  }
  75% {
    transform: scale(1) translate(-50px, -20px)
  }
  80% {
    transform: scale(1) translate(0)
  }
}

.cursor-2 {
  animation: cursor-2 6s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes cursor-2 {
  15% {
    transform: translate(0px, 0px)
  }
  20% {
    transform: translate(70px, -40px)
  }
  70% {
    transform: translate(70px, -40px)
  }
  75% {
    transform: translate(0px, 0px)
  }
}

.comment-bubble {
  animation: chat 6s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes chat {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  25% {
    opacity: 0;
    transform: translateY(5px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  65% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}
