@let currentAvatarUrl = avatarUrl();
<div>
  @if (currentAvatarUrl) {
    <img
      [src]="currentAvatarUrl"
      alt="Avatar"
      class="avatar image"
      style="height: 150px; width: 150px"
      />
  }
</div>
@if (!currentAvatarUrl) {
  <div class="avatar no-image" style="height: 150px; width: 150px"></div>
}

@let  isUploading = uploading();
<div style="width: 150px">
  <label class="button primary block" for="single">
    {{ isUploading ? "Uploading ..." : "Upload" }}
  </label>
  <input
    style="visibility: hidden; position: absolute"
    type="file"
    id="single"
    accept="image/*"
    (change)="uploadAvatar($event)"
    [disabled]="isUploading"
    />
</div>
