.PostPreview {
  display: block;
  border-width: 2px !important;
}

.PostPreviewBody {
  display: flex;
  flex-direction: column;
  min-height: 140px !important;
}
.PostPreviewHeading {
  flex-grow: 1;
}
.PreviewDate {
  flex-grow: 1;
}
.PreviewArrow {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.PostPreview:hover .PreviewArrow {
  margin-right: -5px;
}
.PostPreview:hover svg {
  fill: var(--custom-primary);
}
