.PostPreview {
  display: block;
  border-width: 2px !important;
  width: 100%;
}
.PostPreview:hover {
  background-color: var(--custom-background-color-diff);
}

.PostPreviewBody {
  display: flex;
  flex-direction: column;
}
.PostPreviewHeading {
  flex-grow: 1;
  display: flex;
}
.PostPreviewHeading h3 {
  flex-grow: 1;
}
.PreviewDate {
  flex-grow: 1;
  font-size: 0.8rem;
}
