# Copy this file in the same folder, rename it to .env.local and fill out the env vars to get www working
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_MISC_USE_URL=
NEXT_PUBLIC_MISC_USE_ANON_KEY=
