@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/tt-norms-pro/tt-pro-regular-webfont.woff2') format('woff2'),
    url('/fonts/tt-norms-pro/tt-pro-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/tt-norms-pro/tt-pro-medium-webfont.woff2') format('woff2'),
    url('/fonts/tt-norms-pro/tt-pro-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/tt-norms-pro/tt-pro-bold-webfont.woff2') format('woff2'),
    url('/fonts/tt-norms-pro/tt-pro-bold-webfont.woff') format('woff');
}
