KONG_NGINX_HTTP_GZIP=on
KONG_NGINX_HTTP_GZIP_COMP_LEVEL=6
KONG_NGINX_HTTP_GZIP_MIN_LENGTH=256
KONG_NGINX_HTTP_GZIP_PROXIED=any
KONG_NGINX_HTTP_GZIP_VARY=on
KONG_NGINX_HTTP_GZIP_TYPES=text/plain application/xml application/openapi+json application/json
KONG_PROXY_ERROR_LOG=syslog:server=unix:/dev/log
KONG_ADMIN_ERROR_LOG=syslog:server=unix:/dev/log
