{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": false
}