/* .sbui-tab-button-underline {
  @apply rounded-none;
.sbui-tab-button-underline {
  @apply rounded-none border-none;
  @apply hover:text-gray-600 hover:bg-transparent;
  @apply dark:hover:text-white dark:hover:bg-transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-bottom: -1px;
  padding-left: 0;
  padding-right: 0;
}

.sbui-tab-button-underline--active {
  @apply border-brand-400;
  @apply rounded-none;
  @apply text-gray-600;
  @apply dark:text-white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.sbui-tab-bar--scrollable {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sbui-tab-bar--scrollable::-webkit-scrollbar {
  display: none;
}

.sbui-tab-bar-inner-container {
  flex-grow: 1;
}

/* base */
.sbui-tab-bar-container {
  justify-content: space-between;
  width: 100%;
} */
