:root {
  --theme-variables-background: #fbfcfd;
  --theme-variables-background-body: #f8f9fa;
  --theme-variables-background-body-alt: #fff;
  --theme-variables-text-body: #1a1d1e;
  --lighten-default: 0.1;
  --lighten-soft: 0.035;
  --lighten-hard: 0.3;
  --lighten-harder: 0.5;
  --lighten-hardest: 0.65;
  --darken-percentage: 0.2;
  --utility-mix-positive: #000;
  --utility-mix-negative: #fff;
  --utility-github-background: #ffffff;
  --text-override-lighten-strength: 5;
  --text-default: #1a1d1e;
  --text-body-light: #858787;
  --text-body-lighter: #bfc0c0;
  --text-body-lightest: #dfe0e0;
  --background-color-default: #fbfcfd;
  --background-color-body: #f8f9fa;
  --background-color-body-alt: #fff;
  --background-color-selection: #e7e8e9;
  --background-color-control: #fdfefe;
  --border-color-default: #e7e8e9;
  --border-color-body: #f8f9fa;
  --border-color-control: #dedfe0;
}