.hero-text {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  animation: animateText 0.2s cubic-bezier(0.25, 0.25, 0, 1) 0.1s both;
}

@keyframes animateText {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
