.hero-container {
  position: absolute;
  z-index: -6;
  overflow: hidden;
  inset: 0;
  transition: perspective 3s ease 0s;
}

.hero-grid-lines {
  position: absolute;
  width: 200vw;
  height: 200vh;
  margin-left: -50%;
  transform: translateY(0);
  background-image: linear-gradient(to right, #026269 45%, transparent 50%, #026269 55%);
  -webkit-mask-image: linear-gradient(90deg, #000 1px, transparent 0),
    linear-gradient(180deg, #000 1px, transparent 0);
  mask-image: linear-gradient(90deg, #000 1px, #000 0), linear-gradient(180deg, #000 1px, #000 0);
  -webkit-mask-size: 25px 25px;
  mask-size: 25px 25px;
  overflow: hidden;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: -100% 0;
  background-position-y: 100%;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  animation: animate-grid 30s linear infinite;
}

.gradient {
  position: absolute;
  user-select: none;
  pointer-events: none;
  inset: 0px;
  z-index: -3;
  opacity: 0.6;
  filter: blur(140px);
  transform: translateZ(0px);
  background: radial-gradient(ellipse 50% 60% at 50% 70%, #3ecf8e, transparent),
    radial-gradient(ellipse 70% 80% at 50% 50%, #1d7a50, transparent);
}

.shape-gradient {
  position: absolute;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  opacity: 0.3;
  height: 700px;
  filter: blur(40px);
  background: radial-gradient(ellipse 50% 50% at 50% 50%, #3ecf8e20, transparent);
}

@media (min-width: 1024px) {
  .hero-grid-lines {
    animation-duration: 30s;
    -webkit-mask-size: 40px 40px;
    mask-size: 40px 40px;
  }
}

@keyframes animate-grid {
  0% {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0);
  }
}
