@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../../../../packages/ui/build/css/source/global.css';
@import './../../../../packages/ui/build/css/themes/dark.css';
@import './../../../../packages/ui/build/css/themes/deep-dark.css';
@import './../../../../packages/ui/build/css/themes/light.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-200;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
