[databases]
{{DB_NAME}} = host={{DB_HOST}} port={{DB_PORT}} dbname={{DB_NAME}} auth_user={{DB_USER}} application_name='{{APP_NAME}}'

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = 6432
auth_type = {{AUTH_TYPE}}
auth_file = /etc/pgbouncer/userlist.txt

pool_mode = {{POOL_MODE}}
default_pool_size = {{DEFAULT_POOL_SIZE}}
min_pool_size = {{MIN_POOL_SIZE}}
reserve_pool_size = {{RESERVE_POOL_SIZE}}
reserve_pool_timeout = 3
max_client_conn = {{MAX_CLIENT_CONN}}
max_db_connections = {{MAX_DB_CONNECTIONS}}

server_lifetime = 3600
server_idle_timeout = 600
server_connect_timeout = 10
server_login_retry = 1
query_timeout = 0
query_wait_timeout = 120
client_idle_timeout = 0
ignore_startup_parameters = extra_float_digits,statement_timeout,lock_timeout,idle_in_transaction_session_timeout,options

log_connections = 0
log_disconnections = 0
log_pooler_errors = 1
stats_period = 60

admin_users = {{ADMIN_USERS}}
stats_users = {{STATS_USERS}}

{{TLS_CONFIG}}
