STUDIO_PG_META_URL=http://localhost:8000/pg
POSTGRES_PASSWORD=replace-with-postgres-password

DEFAULT_ORGANIZATION_NAME=Default Organization
DEFAULT_PROJECT_NAME=Default Project
DASHBOARD_USERNAME=replace-with-dashboard-username
DASHBOARD_PASSWORD=replace-with-dashboard-password

SUPABASE_URL=http://localhost:8000
SUPABASE_PUBLIC_URL=http://localhost:8000
SUPABASE_ANON_KEY=replace-with-anon-key
SUPABASE_SERVICE_KEY=replace-with-service-role-key
SENTRY_IGNORE_API_RESOLUTION_ERROR=1
LOGFLARE_URL=http://localhost:4000
LOGFLARE_PRIVATE_ACCESS_TOKEN=replace-with-logflare-private-token

# TODO: evaluate these variables at runtime instead
# https://nextjs.org/docs/basic-features/environment-variables#loading-environment-variables
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GOTRUE_URL=$SUPABASE_PUBLIC_URL/auth/v1
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001

# CmdK / AI
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-public-anon-key
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co

DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Required to manage edge-functions via dashboard on Self-Hosting
# EDGE_FUNCTIONS_MANAGEMENT_FOLDER=/path-where-edge-functions-are-mounted
