.contributors-bg-circle {
  @apply bg-gradient-to-r from-background-alternative via-border-strong to-background-alternative rounded-full p-[1px] aspect-square absolute;
}

.contributors-0 {
  @apply left-[11%] top-[95%] xl:left-[10%] xl:top-[94%];
}

.contributors-1 {
  @apply hidden xl:block xl:left-[70%] xl:top-[61%];
}

.contributors-2 {
  @apply left-[31%] top-[62%] xl:left-[16%] xl:top-[70%];
}

.contributors-3 {
  @apply left-[11%] top-[52%] md:left-[9%] md:top-[55%] xl:left-[21%] xl:top-[85%];
}

.contributors-4 {
  @apply left-[42%] top-[77%] xl:left-[29%] xl:top-[94%];
}

.contributors-5 {
  @apply left-[61%] top-[93%] xl:left-[33%] xl:top-[75%];
}

.contributors-6 {
  @apply hidden md:block md:z-10 md:left-[50%] md:top-[61%] xl:block xl:left-[83%] xl:top-[60%];
}

.contributors-7 {
  @apply hidden xl:block xl:left-[78%] xl:top-[45%];
}

.contributors-8 {
  @apply z-10 left-[81%] top-[65%] xl:left-[57%] xl:top-[93%];
}

.contributors-9 {
  @apply hidden md:block md:z-10 md:left-[32%] md:top-[89%] xl:block xl:left-[94%] xl:top-[74%];
}

.contributors-10 {
  @apply z-10 hidden xl:block xl:left-[58%] xl:top-[58%];
}

.contributors-11 {
  @apply hidden xl:block xl:left-[74%] xl:top-[82%];
}

.contributors-12 {
  @apply hidden xl:block xl:left-[43%] xl:top-[83%];
}

.contributors-13 {
  @apply hidden xl:block xl:left-[61%] xl:top-[77%];
}

.contributors-14 {
  @apply hidden xl:block xl:left-[52%] xl:top-[40%];
}

.contributors-15 {
  @apply hidden xl:block xl:left-[85%] xl:top-[88%];
}

.contributors-16 {
  @apply left-[17%] top-[76%] xl:left-[3%] xl:top-[69%];
}

.contributors-17 {
  @apply z-10 left-[64%] top-[53%] xl:left-[47%] xl:top-[67%];
}

.contributors-18 {
  @apply left-[67%] top-[74%] xl:left-[36%] xl:top-[57%];
}

.contributors-19 {
  @apply z-10 left-[82%] top-[86%] xl:left-[27%] xl:top-[50%];
}
