# 1) Rename this file to `.env.local`
# 2) Update these with your Supabase details from your project settings > API
VUE_APP_SUPABASE_URL = https://your-project.supabase.co
VUE_APP_SUPABASE_KEY = your-anon-key