localhost

## API Server
##   You can change this route to anything, however if you use /api/ then you will have conflicts 
##   with the NextJS API routes in the Dashboard
handle_path /proxy/* {
    uri replace /proxy/ /
    reverse_proxy 127.0.0.1:8000
}

# ## Dashboard
# ##   MAKE SURE YOU CHANGE THE PASSWORD BELOW BEFORE UNCOMMENTING THIS SECTION.
# ##   You can create a new password by running `caddy hash-password`
# handle_path /* {
#     reverse_proxy 127.0.0.1:3000
#     basicauth /* {
#         iechor $2a$14$24w8H5T3D4hC74y6rdxgYOYqTna7K.zWbts/AheHuilnRrdPFGGhK ## IMPORTANT: CHANGE THIS PASSWORD
#     }
# }
