/* Font face definitions also used in Launch Week 15 */
@font-face {
  font-family: 'SuisseIntl-Book';
  src: url('/fonts/launchweek/15/SuisseIntl-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
