.sbui-divider {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sbui-divider-vertical {
  @apply bg-border;
  width: 1px;
  height: inherit;
}

.sbui-divider-vertical.sbui-divider--light {
  @apply bg-border-control;
}

.sbui-divider--no-text {
  @apply border-default;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.sbui-divider > span {
  @apply text-sm;
  @apply text-background-surface-200;
  display: inline-block;
  padding: 0 1em;
}

.sbui-divider--left:before {
  @apply border-default;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
}

.sbui-divider--left:after {
  @apply border-default;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
}

.sbui-divider--right:before {
  @apply border-default;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
}

.sbui-divider--right:after {
  @apply border-default;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
}

.sbui-divider--center:before,
.sbui-divider--center:after {
  @apply border-default;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 50%;
}

.sbui-divider--light.sbui-divider--left:before,
.sbui-divider--light.sbui-divider--left:after,
.sbui-divider--light.sbui-divider--right:before,
.sbui-divider--light.sbui-divider--right:after,
.sbui-divider--light.sbui-divider--center:before,
.sbui-divider--light.sbui-divider--center:after,
.sbui-divider--light.sbui-divider--no-text {
  @apply border-control;
}

.sbui-divider--light.sbui-divider > span {
  @apply text-foreground-muted;
}
