.react-contexify {
  @apply bg-surface-100 border border-default;
  .react-contexify__item {
    .react-contexify__item__content {
      @apply text-foreground text-sm;
    }
    .react-contexify__submenu {
      @apply bg-surface-100 border;
    }
  }
  .react-contexify__item:not(.react-contexify__item--disabled):hover
    > .react-contexify__item__content,
  .react-contexify__item:not(.react-contexify__item--disabled):focus
    > .react-contexify__item__content {
    @apply bg-overlay-hover;
  }
  .react-contexify__separator {
    @apply bg-overlay;
  }
}
