.monaco-editor {
  @apply relative overflow-visible;
  -webkit-text-size-adjust: 100%;
}

.gutter {
  @apply bg-gray-100 dark:bg-gray-600;
  cursor: row-resize;
}

.grid-monaco-editor,
.monaco-editor p,
label,
div,
section,
span.th.tr.td.textarea {
  /* @apply text-sm; */
}

.grid-monaco-editor,
.monaco-editor label {
  font-weight: inherit;
  text-transform: none;
  padding: inherit;
  width: inherit;
  align-self: inherit;
}

.grid-monaco-editor,
.monaco-editor label:hover {
  cursor: inherit;
}

.grid-monaco-editor,
.monaco-editor .suggest-widget {
  .main {
    max-height: none;
    height: inherit;
    width: 100%;
    margin: inherit;
    padding: inherit;
    overflow: inherit;
  }

  .monaco-list-row.focused .main {
    background: var(--vscode-quickInput-background);
  }
}

/*
* STEP ONE
*/

@keyframes step1_square1 {
  0% {
    transform: rotate(45deg);
    top: 10px;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  100% {
    transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
}

@keyframes step1_square2 {
  0% {
    transform: rotate(45deg);
    top: 10px;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  100% {
    transform: rotate(0deg);
    top: 0px;
    left: 8px;
    width: 16px;
    height: 16px;
  }
}

@keyframes step1_square3 {
  0% {
    transform: rotate(45deg);
    top: 10px;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  100% {
    transform: rotate(0deg);
    top: 8px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
}

@keyframes step1_square4 {
  0% {
    transform: rotate(45deg);
    top: 10px;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  100% {
    transform: rotate(0deg);
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
  }
}

/*
* STEP TWO
*/

@keyframes step2_square1 {
  0% {
    transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
  100% {
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
    width: 8px;
    height: 8px;
  }
}

@keyframes step2_square2 {
  0% {
    transform: rotate(0deg);
    top: 0px;
    left: 8px;
    width: 16px;
    height: 16px;
  }
  100% {
    transform: rotate(45deg);
    top: 0px;
    left: 16px;
    width: 8px;
    height: 8px;
  }
}

@keyframes step2_square3 {
  0% {
    transform: rotate(0deg);
    top: 8px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
  100% {
    transform: rotate(45deg);
    top: 16px;
    left: 0px;
    width: 8px;
    height: 8px;
  }
}

@keyframes step2_square4 {
  0% {
    transform: rotate(0deg);
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
  }
  100% {
    transform: rotate(45deg);
    top: 16px;
    left: 16px;
    width: 8px;
    height: 8px;
  }
}

/*
* STEP THREE
*/

@keyframes step3_square1 {
  0% {
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
    width: 8px;
    height: 8px;
  }
  100% {
    transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
}

@keyframes step3_square2 {
  0% {
    transform: rotate(45deg);
    top: 0px;
    left: 16px;
    width: 8px;
    height: 8px;
  }
  100% {
    transform: rotate(0deg);
    top: 0px;
    left: 18px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
}

@keyframes step3_square3 {
  0% {
    transform: rotate(45deg);
    top: 16px;
    left: 0px;
    width: 8px;
    height: 8px;
  }
  100% {
    transform: rotate(0deg);
    top: 18px;
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
}

@keyframes step3_square4 {
  0% {
    transform: rotate(45deg);
    top: 16px;
    left: 16px;
    width: 8px;
    height: 8px;
  }
  100% {
    transform: rotate(0deg);
    top: 18px;
    left: 18px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
}

/*
* STEP FOUR
*/

@keyframes step4_square1 {
  0% {
    transform: rotate(0deg);
    top: 0px;
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(0deg);
    top: 0px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

@keyframes step4_square2 {
  0% {
    transform: rotate(0deg);
    top: 0px;
    left: 18px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(0deg);
    top: 8px;
    left: 16px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

@keyframes step4_square3 {
  0% {
    transform: rotate(0deg);
    top: 18px;
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(0deg);
    top: 8px;
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

@keyframes step4_square4 {
  0% {
    transform: rotate(0deg);
    top: 18px;
    left: 18px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(0deg);
    top: 16px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

// STEP FIVE

@keyframes step5_square1 {
  0% {
    transform: rotate(0deg);
    top: 0px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(45deg);
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

@keyframes step5_square2 {
  0% {
    transform: rotate(0deg);
    top: 8px;
    left: 16px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(45deg);
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

@keyframes step5_square3 {
  0% {
    transform: rotate(0deg);
    top: 8px;
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(45deg);
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

@keyframes step5_square4 {
  0% {
    transform: rotate(0deg);
    top: 16px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  100% {
    transform: rotate(45deg);
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}

@keyframes spinAiIconContainer {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-45deg);
  }
  // 40% {
  //   transform: rotate(-45deg);
  // }
  // 60% {
  //   transform: rotate(90deg); /* 360 degrees * 3 (3 full spins) */
  // }
  80% {
    transform: rotate(180deg); /* 360 degrees * 3 (3 full spins) */
  }
  100% {
    transform: rotate(180deg); /* 360 degrees * 3 (3 full spins) */
  }
  // 90% {
  //   transform: rotate(360deg); /* 360 degrees * 5 (5 full spins) */
  // }
  // 100% {
  //   transform: rotate(360deg); /* 360 degrees * 5 (5 full spins) */
  // }
}

.spin-ai-icon-container {
  // width: 100%;
  // height: 100%;
  // background-color: #f00; /* Replace this with your desired background color */
  // border-radius: 50%;
  // position: absolute;
  // animation: spinAiIconContainer 10s infinite;
  // animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  // animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*
* STEP SIX
*/

// @keyframes step6_square1 {
//   0% {
//     transform: rotate(45deg);
//     left: 0px;
//     top: 0px;
//     width: 12px;
//     height: 12px;
//   }
//   100% {
//     transform: rotate(0deg);
//     top: 8px;
//     left: 8px;
//     width: 8px;
//     height: 8px;
//   }
// }

// @keyframes step6_square2 {
//   0% {
//     transform: rotate(45deg);
//     top: 0px;
//     left: 8px;
//     width: 12px;
//     height: 12px;
//   }
//   100% {
//     transform: rotate(0deg);
//     top: 8px;
//     left: 8px;
//     width: 8px;
//     height: 8px;
//   }
// }

// @keyframes step6_square3 {
//   0% {
//     transform: rotate(45deg);
//     top: 8px;
//     left: 0px;
//     width: 12px;
//     height: 12px;
//   }
//   100% {
//     transform: rotate(0deg);
//     top: 8px;
//     left: 8px;
//     width: 8px;
//     height: 8px;
//   }
// }

// @keyframes step6_square4 {
//   0% {
//     transform: rotate(45deg);
//     top: 8px;
//     left: 8px;
//     width: 12px;
//     height: 12px;
//   }
//   100% {
//     transform: rotate(0deg);
//     top: 8px;
//     left: 8px;
//     width: 8px;
//     height: 8px;
//   }
// }

.ai-icon__container {
  width: 24px;
  height: 24px;
  // background: red;
}

.ai-icon__grid {
  position: relative;
  width: 24px;
  height: 24px;
  // background: yellow;
}

.ai-icon__grid__square {
  position: absolute;
  border: 1px solid hsl(var(--brand-default));
}

.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-1:nth-child(1) {
  animation: step1_square1 700ms forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-delay: 0;
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-1:nth-child(2) {
  animation: step1_square2 700ms forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-delay: 200ms;
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-1:nth-child(3) {
  animation: step1_square3 700ms forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-delay: 400ms;
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-1:nth-child(4) {
  animation: step1_square4 700ms forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-delay: 600ms;
}

.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-2:nth-child(1) {
  animation-delay: 200;
  animation: step2_square1 0.7s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-2:nth-child(2) {
  animation-delay: 400ms;
  animation: step2_square2 0.7s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-2:nth-child(3) {
  animation-delay: 600ms;
  animation: step2_square3 0.7s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-2:nth-child(4) {
  animation-delay: 800ms;
  animation: step2_square4 0.7s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-3:nth-child(1) {
  animation: step3_square1 0.7s forwards;
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-3:nth-child(2) {
  animation: step3_square2 0.7s forwards;
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-3:nth-child(3) {
  animation: step3_square3 0.7s forwards;
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-3:nth-child(4) {
  animation: step3_square4 0.7s forwards;
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-4:nth-child(1) {
  animation: step4_square1 1s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-4:nth-child(2) {
  animation: step4_square2 1s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-4:nth-child(3) {
  animation: step4_square3 1s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-4:nth-child(4) {
  animation: step4_square4 1s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  // animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-5:nth-child(1) {
  animation: step5_square1 3s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-5:nth-child(2) {
  animation: step5_square2 3s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-5:nth-child(3) {
  animation: step5_square3 3s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ai-icon__grid .ai-icon__grid__square.ai-icon__grid__square--step-5:nth-child(4) {
  animation: step5_square4 3s forwards;
  // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
