.data-grid--simple-logs {
  .rdg-cell,
  .rdg-cell span {
    @apply text-scale-1100 font-normal #{!important};
    border-left: none;
    border-right: none;
  }

  .rdg-cell:first-child {
    @apply pl-5;
  }
  .rdg-cell:last-child {
    @apply pr-5;
  }

  .rdg-row {
    &.rdg-row--focussed {
      @apply border-r border-brand-900;
      border-right-width: 4px;
    }

    &.rdg-row--focussed .rdg-cell,
    &.rdg-row--focussed .rdg-cell span {
      @apply text-scale-1200 font-semibold #{!important};
    }
  }
}

.syntax-highlight {
  counter-reset: line-numbering;
  font-family: Menlo, Monaco, monospace;
  color: var(--colors-scale10);
  word-break: break-word;
}

.syntax-highlight .line::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 0px;
  display: inline-block;
  color: var(--colors-scale8);
  /* space after numbers */
  width: 2rem;
  text-align: left;
}

.logs-shimmering-loader {
  animation: logsShimmer 2s infinite linear;
  background: linear-gradient(
    to right,
    var(--colors-brand3) 4%,
    var(--colors-brand9) 25%,
    var(--colors-brand3) 36%
  );
  background-size: 1000px 100%;
}

.dark .logs-shimmering-loader {
  animation: logsShimmer 2s infinite linear;
  background: linear-gradient(
    to right,
    var(--colors-brand9) 0%,
    var(--colors-brand4) 33%,
    var(--colors-brand9) 100%
  );
  background-size: 1000px 100%;
}

@keyframes logsShimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
