.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
}

@media (min-width: 768px) {
  .image {
    width: calc(100px * var(--size));
    height: calc(100px * var(--size));
  }
}

.name {
  font-size: 24px;
  display: inline-block;
  line-height: 1.15;
  letter-spacing: -0.02em;
  margin: 0;
}

.name-golden {
  color: var(--gold-primary);
}

@media (min-width: 768px) {
  .name {
    font-size: calc(var(--space-8x) * var(--size));
    margin-bottom: 5px;
  }
}

.username {
  display: inline-block;
  font-size: calc(1em * var(--size));
  color: var(--lw-secondary-color);
  display: flex;
  align-items: center;
  margin: 0;
}

.username-golden {
  color: var(--gold-secondary);
}

.githubIcon {
  margin-right: calc(5px * var(--size));
  display: inline-flex;
}

.githubIcon-golden svg {
  color: var(--gold-secondary);
  opacity: 0.5;
}

.empty-icon {
  display: block;
  background: linear-gradient(320deg, #121212, #191919);
  width: 60px;
}

.empty-icon--golden {
  display: block;
  background: linear-gradient(90deg, #fff9eb, #e2ba52);
  width: 60px;
  border: 1px solid #ecc154ad;
}

@media (min-width: 768px) {
  .empty-icon {
    width: calc(80px * var(--size));
  }

  .empty-icon--golden {
    width: calc(80px * var(--size));
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/*
.skeleton {
  display: flex;
  align-items: center;
  border-radius: 25px;
} */

.skeleton.loaded {
  width: unset !important;
}

.skeleton:not(.wrapper):not(.show) {
  display: none;
}

.wrapper:not(.show)::before {
  content: none;
}

.skeleton:not(.wrapper):not(.loaded) {
  border-radius: var(--space);
  background-image: linear-gradient(270deg, #252729, #34383d, #34383d, #252729);
  background-size: 200% 100%;
  animation: loading 2s ease-in-out infinite;
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  border-radius: var(--space);
  z-index: 100;
  background-image: linear-gradient(270deg, #111111, #333333, #333333, #111111);
  background-size: 200% 100%;
  animation: loading 2s ease-in-out infinite;
}

.inline {
  display: inline-block !important;
}

.rounded,
.rounded.wrapper::before {
  width: calc(80px * var(--size));
  height: calc(80px * var(--size));
  border-radius: 50% !important;
}

@media (min-width: 768px) {
  .rounded,
  .rounded.wrapper::before {
    width: calc(110px * var(--size));
    height: calc(110px * var(--size));
  }
}
