.visual {
  position: relative;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: black; */
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  background-color: rgba(0, 0, 0, 1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  /* background: linear-gradient(#fff000, var(--gold-secondary)); */
  border: 1px solid rgba(255, 255, 0, 0.629);
  animation: blank-svg-shadow 2s ease-in-out infinite alternate;
}

.visual--gold {
  background-color: gold;
  /* border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 16px; */
  background: linear-gradient(#fff000, var(--gold-secondary));
  border: 1px solid rgba(255, 255, 0, 0.629);
  animation: svg-shadow 2s ease-in-out infinite alternate;
  /* filter: drop-shadow(2.45223px 8.5828px 73.5669px #FFBD14);  */
  /* border-image-source: linear-gradient(to left, var(--gold-secondary), var(--gold-accent)); */
}

/* .svg-shadow {
} */

@keyframes svg-shadow {
  from {
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px var(--gold-primary))
      drop-shadow(0 0 20px var(--gold-accent));
  }

  to {
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 10px var(--gold-accent))
      drop-shadow(0 0 40px var(--gold-primary));
  }
}

@keyframes blank-svg-shadow {
  from {
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #12f28d) drop-shadow(0 0 20px #12f28d);
  }

  to {
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 10px #12f28d) drop-shadow(0 0 40px #12f28d);
  }
}

.horizontal-ticket {
  display: none;
}

.vertical-ticket {
  display: flex;
}

@media (min-width: 768px) {
  .horizontal-ticket {
    display: flex;
  }

  .vertical-ticket {
    display: none;
  }
}

.logo {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* padding: 46px 29px;/ */
}

.logo img {
  /* margin-top: 64px; */
  margin-top: calc(64px * var(--size));
  margin-left: calc(32px * var(--size));
  margin-left: calc(32px * var(--size));
  /* width: 272px; */
  width: calc(272px * var(--size));
}

@media (min-width: 768px) {
  .logo img {
    margin-top: calc(32px * var(--size));
    /* width: 280px; */
    width: calc(280px * var(--size));
    margin-left: calc(160px * var(--size));
  }
}

.profile {
  z-index: 1;
  position: absolute;
  top: 90px;
  width: 100%;
  height: 100%;
  padding: 46px 29px;
}

@media (min-width: 768px) {
  .profile {
    top: calc(48px * var(--size));
    padding: calc(44px * var(--size)) calc(160px * var(--size)) calc(44px * var(--size))
      calc(63px * var(--size));
  }
}

.info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding: calc(46px * var(--size)) calc(29px * var(--size)); */
}

@media (min-width: 768px) {
  .info {
    bottom: 0;
    /* padding: 0 calc(160px * var(--size)) calc(44px * var(--size))
      calc(63px * var(--size)); */
  }
}

.ticket-number-wrapper {
  position: absolute;
  bottom: 40px;
  right: 0;
}

@media (min-width: 768px) {
  .ticket-number-wrapper {
    bottom: 0;
  }
}

.ticket-number {
  font-weight: bold;
  font-size: calc(40px * var(--size));
  line-height: 1;
  width: calc(330px * var(--size));
  text-align: center;
}

.ticket-number-golden {
  color: var(--gold-primary);
}

@media (min-width: 768px) {
  .ticket-number {
    transform: rotate(90deg) translateY(calc(100px * var(--size)));
    transform-origin: bottom right;
  }

  .ticket-number-golden {
    color: var(--gold-accent);
  }
}
