@charset "utf-8";
@import url(https://cdn.rawgit.com/kiwicopple/quick-font/master/css/circular.css);
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

/// BULMA

// Set your brand colors
// $green: #45d092;
$green: #45d092;
$blue: #0069FF;
$yellow: #F8C945;
$orange: #EC6E2D;
$grey-900: #1f1f1f;
$grey-800: #2a2a2a;
$grey-700: #3b3b3b;
$grey-600: #4c4c4c;
$grey-500: #5e5e5e;
$grey-400: #6f6f6f;
$grey-300: #7f7f7f;
$grey-200: #8f8f8f;
$grey-100: #eeeeee;
$background: $grey-900;
$background: $grey-900;
$border-color: $grey-400;
$primary: $green;
$link: $green;

$shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
$shadow-shallow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
$text-shallow: 0 0 3px rgba(0, 0, 0, 0.3);

// Typography
$family-sans-serif: 'Circular', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
  sans-serif;
$body-size: 0.9rem;

$text: $grey-100;
$text-light: $grey-100;
$text-strong: $grey-100;
$title-color: $text;
$subtitle-color: $text;
$text-invert: $grey-900;

$link: $primary;
$link-invert: $text;
$link-hover: $text;
$link-visited: $primary;
// $link-hover-border: $grey-100;
// $link-focus: $grey-100;
// $link-focus-border: $grey-100;
// $link-active: $grey-100;
// $link-active-border: $grey-100;

// Navbar
$navbar-background-color: $background;
$navbar-item-color: $text;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: $background;
$navbar-dropdown-background-color: $grey-800;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-boxed-shadow: $shadow;
$navbar-dropdown-arrow: $text;
$navbar-divider-background-color: $border-color;

// Footer
$footer-background-color: $background;

// Forms
$input-background-color: $background;
$input-color: $text;
$input-border-color: $border-color;
$label-color: $text;

// Buttons
$button-color: $text;
$button-background-color: $background;
$button-border-color: $border-color;
$button-hover-color: $text;

// Box
$box-background-color: $grey-800;
$box-color: #fff;
$box-shadow: $shadow-shallow;

// Modal
$modal-card-body-background-color: $background;
$modal-card-title-color: $text;
.modal-card-head,
.modal-card-foot {
  background: $background !important;
}

// Dropdown
$dropdown-content-background-color: $grey-600;
$dropdown-item-color: $text;
$dropdown-item-hover-color: $text;
$dropdown-item-active-color: $background;

// Menu
$menu-item-hover-color: $primary;
$menu-item-active-color: $text-invert;

// Menu
$tabs-border-bottom-color: $border-color;
$tabs-link-color: $grey-200;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';

// SPACING CSS - see usage: https://github.com/jgthms/bulma/issues/451#issuecomment-331758839
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
  ('none', 0),
  ('xxs', 0.125),
  ('xs', 0.25),
  ('sm', 0.5),
  ('md', 1),
  ('lg', 2),
  ('xl', 4),
  ('xxl', 8)
);
$positions: (('t', 'top'), ('r', 'right'), ('b', 'bottom'), ('l', 'left'));

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue) !important;
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue) !important;
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
  }
}
// end spacing


$widths: (
  ('100', 100),
  ('200', 200),
  ('300', 300),
  ('400', 400),
  ('500', 500),
  ('600', 600),
  ('700', 700),
  ('800', 800),
  ('900', 900),
  ('1000', 1000),
  ('1100', 1100),
  ('1200', 1200),
);


@each $width in $widths {
  $widthKey: nth($width, 1);
  $widthValue: nth($width, 2);
  .w-#{$widthKey} {
    width: #{$widthValue}px !important;
    margin: 0 auto;
  }
  // Set max widths
  .w-m-#{$widthKey} {
    max-width: #{$widthValue}px !important;
    margin: 0 auto;
  }
}

//
// Custom CSS
//
html,
body {
  background: $background;
  color: $text;
}
::selection {
  background: $primary;
  color: $text-invert;
}
::-moz-selection {
  background: $primary;
  color: $text-invert;
}
hr {
  border: 1px solid $border-color;
}
.navbar-item {
  a {
    color: $text;
    &:hover {
      color: $primary;
    }
  }
}
.footer {
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  .heading {
    color: $grey-200;
  }
  a {
    color: $text;
    &:hover {
      color: $primary;
    }
  }
}
.has-flex-start {
  justify-content: flex-start;
}
.has-flex-end {
  justify-content: flex-end;
}
.half-and-half {
  overflow: auto;
  div {
    width: 50% !important;
    float: left;
  }
  div:last-child {
    text-align: right;
  }
}
.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  table tr th,
  p,
  strong {
    color: $text;
  }

  a {
    box-shadow: inset 0 -3px 0 -1px $primary;
    transition: box-shadow .15s ease-in-out;
    color: $text;
    padding-bottom: 2px;
    &:hover {
      box-shadow: inset 0 -30px 0 -1px $primary;
    }
  }
}
hr.is-title-accent {
  margin-top: 5px;
  max-width: 100px;
}
h1.has-underline,
h2.has-underline,
h3.has-underline {
  &::after {
    content: '\2501';
    display: block;
    color: $primary;
  }
}
.has-shadow {
  box-shadow: $shadow;
}
.has-border-primary {
  border: 1px solid $primary !important;
}
.DocsMenuColumn {
  border-right: 2px solid $border-color !important;

  .menu-label {
    padding: 1rem 1rem 0 1rem;
  }
  .menu-list {
    li a {
      border-radius: 0;
      border-left: 3px solid $background;
      color: $grey-200;

      &.is-active {
        background: none;
        color: $text;
        border-left: 3px solid $primary;
      }
    }
  }
}
.button {
  text-shadow: $text-shallow;
  font-weight: bold;
  &.is-primary {
    // color: $background;
    &.has-shadow {
      box-shadow: 1px 1px 5px 5px rgba($primary, 0);
      transition: box-shadow 0.2s ease-in-out;
      &:hover {
        color: $background;
        box-shadow: 1px 1px 5px 5px rgba($primary, 0.1);
      }
    }
  }
  &.is-dark {
    color: $grey-200 !important;
    border: 1px solid transparent;
  }
}
pre {
  background: $grey-700;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
}
code {
  margin-left: 0px;
  margin-right: 0px;
  white-space: pre;
  background: $grey-700;
  color: $text;
  border-radius: 3px;
}
.has-overflow-scroll {
  overflow: auto;
}
.deep-hover {
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.5), 0 0 0 1px $primary !important;
  }
}
@media only screen and (min-width: 769px) {
  .reverse-row-order {
    display: flex;
    flex-direction: row-reverse;
  }
}