admin-server-host = "127.0.0.1"
admin-server-port = 3001
admin-server-unix-socket = "/tmp/admin_io_test.sock"
admin-server-unix-socket-mode = "666"
app.settings.test = "test"
app.settings.test2 = "test"
client-error-verbosity = "minimal"
db-aggregates-enabled = false
db-anon-role = "anonymous"
db-channel = "postgrest"
db-channel-enabled = false
db-config = true
db-extra-search-path = "public,extensions,private"
db-hoisted-tx-settings = "autovacuum_work_mem"
db-max-rows = 500
db-plan-enabled = false
db-pool = 1
db-pool-acquisition-timeout = 30
db-pool-automatic-recovery = false
db-pool-max-idletime = 60
db-pool-max-lifetime = 3600
db-pre-config = "postgrest.preconf"
db-pre-request = "test.custom_headers"
db-prepared-statements = false
db-root-spec = "root"
db-schemas = "test,tenant1,tenant2"
db-tx-end = "commit-allow-override"
db-uri = "postgresql://"
jwt-aud = "https://example.org"
jwt-cache-max-entries = 123
jwt-role-claim-key = "$$.a.role"
jwt-secret = "OVERRIDE=REALLY=REALLY=REALLY=REALLY=VERY=SAFE"
jwt-secret-is-base64 = false
log-level = "info"
log-query = true
openapi-mode = "ignore-privileges"
openapi-security-active = true
openapi-server-proxy-uri = "https://example.org/api"
server-cors-allowed-origins = "http://origin.com"
server-host = "0.0.0.0"
server-port = 80
server-reuseport = true
server-timing-enabled = false
server-trace-header = "CF-Ray"
server-unix-socket = "/tmp/pgrst_io_test.sock"
server-unix-socket-mode = "777"
url-use-legacy-target-names = true
