admin-server-host = "127.0.0.1"
admin-server-port = 3001
admin-server-unix-socket = "/tmp/admin_io_test.sock"
admin-server-unix-socket-mode = "666"
app.settings.test = "test"
app.settings.test2 = "test"
client-error-verbosity = "minimal"
db-aggregates-enabled = true
db-anon-role = "root"
db-channel = "postgrest"
db-channel-enabled = false
db-config = false
db-extra-search-path = "public,test"
db-hoisted-tx-settings = "work_mem"
db-max-rows = 1000
db-plan-enabled = true
db-pool = 1
db-pool-acquisition-timeout = 30
db-pool-automatic-recovery = false
db-pool-max-idletime = 60
db-pool-max-lifetime = 3600
db-pre-config = "postgrest.pre_config"
db-pre-request = "please_run_fast"
db-prepared-statements = false
db-root-spec = "openapi_v3"
db-schemas = "multi,tenant,setup"
db-tx-end = "rollback-allow-override"
db-uri = "tmp_db"
jwt-aud = "https://postgrest.org"
jwt-cache-max-entries = 86400
jwt-role-claim-key = "$$.user[0].real_role"
jwt-secret = "c2VjdXJpdHl0aHJvdWdob2JzY3VyaXR5aW5iYXNlNjQ="
jwt-secret-is-base64 = true
log-level = "info"
log-query = true
openapi-mode = "ignore-privileges"
openapi-security-active = true
openapi-server-proxy-uri = "https://postgrest.org"
server-cors-allowed-origins = "http://example.com"
server-host = "0.0.0.0"
server-port = 80
server-reuseport = true
server-timing-enabled = true
server-trace-header = "X-Request-Id"
server-unix-socket = "/tmp/pgrst_io_test.sock"
server-unix-socket-mode = "777"
url-use-legacy-target-names = false
