@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../build/css/themes/dark.css';
@import './../build/css/themes/light.css';
/* @import './../build/css/themes/darker-dark.css'; */
/* 
.dark,
.light,
.light .docs-story,
.dark .docs-story {
  @apply bg-body;
} */
@layer base {
  :root {
    --background: var(--theme-variables-background-body); /* --background: 0 0% 100%; */
    --foreground: var(--theme-variables-background); /* --foreground: 222.2 47.4% 11.2%; */

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: var(--theme-variables-background); /* --popover: 0 0% 100%; */
    --popover-foreground: var(
      --text-color-body-default
    ); /* --popover-foreground: 222.2 47.4% 11.2%; */

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--theme-variables-background-body); /* --background: 224 71% 4%; */
    --foreground: var(--theme-variables-background); /* --foreground: 213 31% 91%; */

    --muted: var(--background-color-body); /* --muted: 223 47% 11%; */
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: var(--theme-variables-background); /* --popover: 224 71% 4%; */
    --popover-foreground: var(
      --text-color-body-default
    ); /* --popover-foreground: 215 20.2% 65.1%; */

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: var(--border-color-default); /* --border: 216 34% 17%; */
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.dark,
.light,
.light .docs-story,
.dark .docs-story {
  @apply bg-background text-foreground;
  font-family: 'Circular std';
}
