:root {
  --spacing-scale: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --sizing-scale: 1.5;
  --sizing-xs: 4;
  --sizing-sm: 6;
  --sizing-md: 9;
  --sizing-lg: 13.5;
  --sizing-xl: 20.25;
  --border-radius-sm: 4px;
  --border-radius-lg: 8px;
  --border-radius-xl: 16px;
  --border-radius-xs: 2px;
  --border-radius-table-header: 4px;
  --border-width-none: 0;
  --border-width-xs: 1;
  --border-width-sm: 2;
  --border-width-md: 4;
  --border-width-lg: 8;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-gray-dark-1: #161616;
  --colors-gray-dark-2: #1c1c1c;
  --colors-gray-dark-3: #232323;
  --colors-gray-dark-4: #282828;
  --colors-gray-dark-5: #2e2e2e;
  --colors-gray-dark-6: #343434;
  --colors-gray-dark-7: #3e3e3e;
  --colors-gray-dark-8: #505050;
  --colors-gray-dark-9: #707070;
  --colors-gray-dark-10: #7e7e7e;
  --colors-gray-dark-11: #a0a0a0;
  --colors-gray-dark-12: #ededed;
  --colors-gray-dark-alpha-1: #00000000;
  --colors-gray-dark-alpha-2: #ffffff08;
  --colors-gray-dark-alpha-3: #ffffff0f;
  --colors-gray-dark-alpha-4: #ffffff14;
  --colors-gray-dark-alpha-5: #ffffff1a;
  --colors-gray-dark-alpha-6: #ffffff21;
  --colors-gray-dark-alpha-7: #ffffff2b;
  --colors-gray-dark-alpha-8: #ffffff40;
  --colors-gray-dark-alpha-9: #ffffff63;
  --colors-gray-dark-alpha-10: #ffffff73;
  --colors-gray-dark-alpha-11: #ffffff96;
  --colors-gray-dark-alpha-12: #ffffffeb;
  --colors-gray-light-1: #fcfcfc;
  --colors-gray-light-2: #f8f8f8;
  --colors-gray-light-3: #f3f3f3;
  --colors-gray-light-4: #ededed;
  --colors-gray-light-5: #e8e8e8;
  --colors-gray-light-6: #e2e2e2;
  --colors-gray-light-7: #dbdbdb;
  --colors-gray-light-8: #c7c7c7;
  --colors-gray-light-9: #8f8f8f;
  --colors-gray-light-10: #858585;
  --colors-gray-light-11: #6f6f6f;
  --colors-gray-light-12: #171717;
  --colors-gray-light-alpha-1: #00000003;
  --colors-gray-light-alpha-2: #00000008;
  --colors-gray-light-alpha-3: #0000000d;
  --colors-gray-light-alpha-4: #00000012;
  --colors-gray-light-alpha-5: #00000017;
  --colors-gray-light-alpha-6: #0000001c;
  --colors-gray-light-alpha-7: #00000024;
  --colors-gray-light-alpha-8: #00000038;
  --colors-gray-light-alpha-9: #00000070;
  --colors-gray-light-alpha-10: #0000007a;
  --colors-gray-light-alpha-11: #0000008f;
  --colors-gray-light-alpha-12: #000000e8;
  --colors-slate-dark-1: #151718;
  --colors-slate-dark-2: #1a1d1e;
  --colors-slate-dark-3: #202425;
  --colors-slate-dark-4: #26292b;
  --colors-slate-dark-5: #2b2f31;
  --colors-slate-dark-6: #313538;
  --colors-slate-dark-7: #3a3f42;
  --colors-slate-dark-8: #4c5155;
  --colors-slate-dark-9: #697177;
  --colors-slate-dark-10: #787f85;
  --colors-slate-dark-11: #9ba1a6;
  --colors-slate-dark-12: #ecedee;
  --colors-slate-dark-alpha-1: #00000000;
  --colors-slate-dark-alpha-2: #d5feff08;
  --colors-slate-dark-alpha-3: #d6fbfc0f;
  --colors-slate-dark-alpha-4: #e2f0fd14;
  --colors-slate-dark-alpha-5: #dff3fd1c;
  --colors-slate-dark-alpha-6: #dfeffe24;
  --colors-slate-dark-alpha-7: #e0f3ff2e;
  --colors-slate-dark-alpha-8: #e5f2fe42;
  --colors-slate-dark-alpha-9: #e1f1ff69;
  --colors-slate-dark-alpha-10: #e7f3ff78;
  --colors-slate-dark-alpha-11: #eff7ff9e;
  --colors-slate-dark-alpha-12: #fdfeffed;
  --colors-slate-light-1: #fbfcfd;
  --colors-slate-light-2: #f8f9fa;
  --colors-slate-light-3: #f1f3f5;
  --colors-slate-light-4: #eceef0;
  --colors-slate-light-5: #e6e8eb;
  --colors-slate-light-6: #dfe3e6;
  --colors-slate-light-7: #d7dbdf;
  --colors-slate-light-8: #c1c8cd;
  --colors-slate-light-9: #889096;
  --colors-slate-light-10: #7e868c;
  --colors-slate-light-11: #687076;
  --colors-slate-light-12: #11181c;
  --colors-slate-light-alpha-1: #05448205;
  --colors-slate-light-alpha-2: #05294d08;
  --colors-slate-light-alpha-3: #0025490d;
  --colors-slate-light-alpha-4: #021c3714;
  --colors-slate-light-alpha-5: #0217351a;
  --colors-slate-light-alpha-6: #01213921;
  --colors-slate-light-alpha-7: #001a3329;
  --colors-slate-light-alpha-8: #011e323d;
  --colors-slate-light-alpha-9: #00111e78;
  --colors-slate-light-alpha-10: #00101b82;
  --colors-slate-light-alpha-11: #000e1896;
  --colors-slate-light-alpha-12: #00080ced;
  --opacity-low: 10%;
  --opacity-md: 50%;
  --opacity-high: 90%;
  --font-families-heading: Inter;
  --font-families-body: Circular Std;
  --font-families-roboto: Roboto;
  --font-families-body2: Circular Std;
  --font-families-mono: Office Code Pro;
  --line-heights-0: 110%;
  --line-heights-heading: 110%;
  --line-heights-base: 24;
  --line-heights-xs: 16;
  --line-heights-sm: 20;
  --line-heights-lg: 28;
  --line-heights-xl: 28;
  --line-heights-2xl: 32;
  --line-heights-3xl: 36;
  --line-heights-4xl: 40;
  --line-heights-5xl: 48;
  --line-heights-6xl: 60;
  --line-heights-7xl: 72;
  --line-heights-8xl: 96;
  --line-heights-9xl: 128;
  --letter-spacing-0: 0em;
  --letter-spacing-1: -0.02em;
  --letter-spacing-default: 0;
  --letter-spacing-increased: 0.1em;
  --letter-spacing-decreased: -0.05em;
  --letter-spacing-8: 0.08em;
  --paragraph-spacing-0: 26;
  --paragraph-spacing-1: 32;
  --paragraph-spacing-h1: 32;
  --paragraph-spacing-h2: 26;
  --font-weights-heading-regular: 400;
  --font-weights-heading-bold: 700;
  --font-weights-body-regular: 400;
  --font-weights-body-bold: 700;
  --font-weights-roboto-0: 400;
  --font-weights-inter-1: 500;
  --font-weights-inter-2: 400;
  --font-weights-heading-mono: 500;
  --font-sizes-5xl: 48px;
  --font-sizes-4xl: 36px;
  --font-sizes-3xl: 30px;
  --font-sizes-2xl: 24px;
  --font-sizes-xl: 20px;
  --font-sizes-lg: 18px;
  --font-sizes-base: 16px;
  --font-sizes-sm: 14px;
  --font-sizes-xs: 12px;
  --font-sizes-6xl: 60px;
  --font-sizes-7xl: 72px;
  --font-sizes-8xl: 96px;
  --font-sizes-9xl: 128px;
  --inner-shadow-label-copy: 0 1 1 0 #858585;
  --inner-shadow-text-new: 0 0.5 0.5 0 #00000026;
  --font-size-0: 14px;
  --font-size-1: 39.063px;
  --font-size-2: 48.829px;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --variables-colors-brand-primary: #3ecf8e;
  --variables-colors-brand-accent: #34b97d;
  --icon-xs: 12;
  --icon-sm: 16;
  --icon-md: 18;
  --icon-bg: 0.15;
  --icon-width-default: 1;
  --form-input-disabled: 33%;
  --modal-drop-shadow: 1 4 4 4 #00000026;
  --panel: 2px;
  --datatable-headericon: 16;
  --datatable-rowheight: 28;
  --options-icon: 18;
  --input-sm-height: 28;
  --panel2: 4px;
  --base: 16;
  --xxl: 128px;
  --action-bar-vertical: 21px;
  --action-bar-horizontal: 32px;
  --table-header-horizontal: 32px;
  --tabs-horizontal: 16px;
  --content-vertical: 32px;
  --content-horizontal: 32px;
  --controller-vertical: 16px;
}