
.typography-h1-bold {
  font: var(--typography-h1-bold);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h1-regular {
  font: var(--typography-h1-regular);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h2-bold {
  font: var(--typography-h2-bold);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h2-regular {
  font: var(--typography-h2-regular);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h3-bold {
  font: var(--typography-h3-bold);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h3-regular {
  font: var(--typography-h3-regular);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h4-bold {
  font: var(--typography-h4-bold);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h4-regular {
  font: var(--typography-h4-regular);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h4-mono {
  font: var(--typography-h4-mono);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-uppercase);
  text-decoration: var(--textDecoration-none);
}

.typography-h5-bold {
  font: var(--typography-h5-bold);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-h5-regular {
  font: var(--typography-h5-regular);
  letter-spacing: var(--letterSpacing-1);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-base-normal {
  font: var(--typography-body-base-normal);
  letter-spacing: var(--letterSpacing-default);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-base-mono {
  font: var(--typography-body-base-mono);
  letter-spacing: var(--letterSpacing-+8);
  text-transform: var(--textCase-uppercase);
  text-decoration: var(--textDecoration-none);
}

.typography-body-lg-normal {
  font: var(--typography-body-lg-normal);
  letter-spacing: var(--letterSpacing-default);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-xs-normal {
  font: var(--typography-body-xs-normal);
  letter-spacing: var(--letterSpacing-default);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-xs-code-header {
  font: var(--typography-body-xs-code-header);
  letter-spacing: var(--letterSpacing-increased);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-sm-normal {
  font: var(--typography-body-sm-normal);
  letter-spacing: var(--letterSpacing-default);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-sm-code-header {
  font: var(--typography-body-sm-code-header);
  letter-spacing: var(--letterSpacing-increased);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-sm-code-normal {
  font: var(--typography-body-sm-code-normal);
  letter-spacing: var(--letterSpacing-default);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-body-sm-bullet-points {
  font: var(--typography-body-sm-bullet-points);
  letter-spacing: var(--letterSpacing-default);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-button-xs {
  font: var(--typography-button-xs);
  letter-spacing: var(--letterSpacing-0);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-button-sm {
  font: var(--typography-button-sm);
  letter-spacing: var(--letterSpacing-0);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-form-label {
  font: var(--typography-form-label);
  letter-spacing: var(--letterSpacing-0);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-form-label-secondary {
  font: var(--typography-form-label-secondary);
  letter-spacing: var(--letterSpacing-0);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}

.typography-table-header {
  font: var(--typography-table-header);
  letter-spacing: var(--letterSpacing-0);
  text-transform: var(--textCase-none);
  text-decoration: var(--textDecoration-none);
}