body {
  background: #181818;
}

/* 
 * Auth
*/

.authcontainer {
  max-width: 420px;
  margin: 96px auto;
}

.authcontainer a {
  color: #8b5cf6 !important;
}

.authcontainer button[type='submit'] {
  background: #8b5cf6 !important;
}

.authcontainer input:focus {
  border-color: #8b5cf6 !important;
}

.authcontainer .sbui-typography-text-danger {
  top: 3px !important;
  position: absolute !important;
}
