.sbui-toast-container {
  @apply max-w-xs w-full shadow-lg rounded-md pointer-events-auto overflow-hidden py-4 px-2;

  @apply border border-solid;
  @apply bg-surface-100 border-default;
}

.sbui-toast-container--sm {
  @apply max-w-sm;
}

.sbui-toast-container--md {
  @apply max-w-md;
}

.sbui-toast-container.sbui-toast-container--success {
  @apply border border-solid border-green-500;
}
.sbui-toast-container.sbui-toast-container--error {
  @apply border border-solid border-red-500;
}

.sbui-toast-container > div {
  @apply flex items-start;
}

.sbui-toast-icon-container {
  @apply flex-shrink-0 text-sm;
}

.sbui-toast-details {
  @apply ml-3 w-0 flex flex-1 justify-between;
}

.sbui-toast-details--actions-bottom {
  @apply flex-col;
}

.sbui-toast-details--actions-bottom .sbui-toast-details__actions {
  @apply mt-4;
}

.sbui-toast-details__content {
  @apply flex flex-col;
}

.sbui-toast-message {
  @apply m-0 text-sm font-medium text-gray-900;
}

.sbui-toast-description {
  @apply m-0 mt-1 text-sm font-normal text-gray-500;
}

.sbui-toast-details__actions {
  @apply flex space-x-4;
}

.sbui-toast-close-container {
  @apply ml-4 flex-shrink-0 flex;
}

.sbui-toast-close-button {
  @apply bg-transparent rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none cursor-pointer border-0;
}

.sbui-toast-container--success .sbui-toast-icon-container {
  @apply text-green-500;
}

.sbui-toast-container--error .sbui-toast-icon-container {
  @apply text-red-500;
}

.sbui-alert--anim--spin {
  @apply stroke-current;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div[data-radix-portal]:not(.portal--toast) {
  /* 
  override z-index to be lower than radix value of 2147483647 
  except for the toast portal
  */
  z-index: 2147483646 !important;
}
