[Unit]
Description=Alazab Auth Manager Socket

[Socket]
ListenStream=/run/alazab-auth-manager.sock
SocketMode=0666
# SocketUser=root
# SocketGroup=root

[Install]
WantedBy=sockets.target
