/* .toc a {
  text-decoration: none !important;
  font-weight: 400 !important;
}

.toc > ul > li {
  padding-left: 0 !important;
}

.toc li {
  @apply text-sm !important;
  padding-left: 1rem !important;
}

.toc ul > li:before {
  content: '';
  position: absolute;
  background-color: none;
  border-radius: 50%;
  width: 0 !important;
  height: 0 !important;
  top: 0.6875em;
  left: 0.25em;
}

.header:hover svg,
.header svg:hover {
  display: inline-block;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
  font-weight: 500 !important;
}

.article {
  @apply mb-16;
}

.article > div > pre {
  padding: 0;
  background: none;
} */
