{
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "VERSION=${nextRelease.version} npm run docs:export"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "static/api.json",
          "static/api-admin.json"
        ]
      }
    ]
  ]
}
