html[data-theme='light'] {
  --sidebar-category-c: var(--c-gray-100);
  --sidebar-border-c: var(--c-gray-0);

  --ifm-menu-color-background-active: var(--c-blue-0);
  --ifm-menu-color: var(--c-indigo-80);
}

html[data-theme='dark'] {
  --sidebar-category-c: var(--c-gray-0);
  --sidebar-border-c: var(--c-gray-90);

  --ifm-menu-color: var(--c-gray-20);
}

:root {
  // --doc-sidebar-width: 32rem;
  // --dropdown-icon-width: 0.625rem;
  // --dropdown-icon-height: 0.375rem;
  // --dropdown-icon-gap: 0.688rem;
  // --ifm-menu-link-padding-vertical: 0.5rem;
  // --ifm-menu-color-active: var(--ifm-link-color);
  // --sidebar-spacing-horizontal: 1.5rem;

  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;

  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0/0.05);

  --tw-ring-color: rgb(15 23 42/0.05);
}

.theme-doc-sidebar-menu-custom-container {
  // padding: 32px;
  padding: var(--custom-sidebar-padding);
  overflow-x: hidden;

  .custom--main-menu-button {
    display: flex;
    padding: 1rem 0 0.5rem 1rem;
    font-size: 0.9rem;
    color: var(--custom-content-color-light);
  }

  .custom--main-menu-header-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 0 0.5rem 1rem;
    margin-bottom: 1rem;

    .custom--main-menu-header {
      display: flex;
      font-size: var(--custom-font-size-md);
      font-weight: 700;
      color: var(--ifm-menu-color);
      margin-bottom: 0;
    }

    .custom--main-menu-header__icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: white;
      // border: 1px solid var(--custom-background-color-diff-1);

      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);

      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);

      img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 4px;
      }
    }
  }

  .custom--main-menu-button svg {
    padding: 2px;
    margin-right: 10px;
    color: var(--custom-content-color-light);
  }
  .custom--main-menu-button:hover,
  .custom--main-menu-button:hover svg {
    transition: all;
    transition-duration: 0.5s;
    color: var(--custom-content-color-emphasis);
  }

  .menu__link--sublist-caret {
    &::after {
      background: var(--ifm-menu-link-sublist-icon) center /
        var(--dropdown-icon-width) var(--dropdown-icon-height);
      background-repeat: no-repeat;

      min-width: auto;

      width: var(--dropdown-icon-width);
      height: var(--dropdown-icon-height);

      // margin-inline-end: var(--dropdown-icon-gap);
      // margin-block-end: 0;
    }
  }

  .menu__caret {
    &::before {
      background: var(--ifm-menu-link-sublist-icon) center /
        var(--dropdown-icon-width) var(--dropdown-icon-height);
      background-repeat: no-repeat;

      min-width: auto;

      width: var(--dropdown-icon-width);
      height: var(--dropdown-icon-height);

      // margin-right: var(--dropdown-icon-width);

      // margin-inline-end: var(--dropdown-icon-gap);
      // margin-block-end: 0;
    }
  }
}

html[data-theme='dark'] {
  .custom--main-menu-header-container {
    .custom--main-menu-header__icon {
      background-color: var(--custom-background-color-highlight);
      border-color: var(--custom-background-color-diff);
      box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 5%);
    }
  }
}
