:root {
  --edit-this-page-c: var(--ifm-link-color);
}

.theme-edit-this-page {
  display: grid;
  align-items: center;
  column-gap: 0.5rem;

  grid-template-columns: 0.875rem 1fr;

  margin-block-start: 1.25rem;

  color: var(--edit-this-page-c);

  transition: opacity 0.2s ease-out;

  &:hover,
  &:active,
  &:focus {
    color: var(--edit-this-page-c);
    opacity: 0.7;
  }
}
