.githubIcon {
  margin-left: 12px;
  margin-right: var(--space-4x);
  display: inline-flex;
}

.checkIcon {
  position: absolute;
  right: var(--space-4x);
  display: inline-flex;
}

.generateWithGithub {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.stageIcon {
  position: absolute;
  left: var(--space-4x);
  display: inline-flex;
}

.form-row {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.description {
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
  margin-left: var(--space-4x);
}

@media (min-width: 768px) {
  .form-row {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .form-row {
    margin: 0;
  }

  .description {
    text-align: left;
  }

  .generateWithGithub {
    width: 100%;
  }
}

.learn-more {
  color: #fff;
}

.learn-more:hover {
  text-decoration: underline;
  color: #fff;
}
