.ticket-hero {
  background: linear-gradient(137.46deg, rgba(125, 196, 176, 0.04) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(137.46deg, rgba(255, 255, 255, 0) 6.19%, rgba(255, 255, 255, 0) 103.29%);
  z-index: 10;
  box-shadow:
    0 1px 1px rgba(131, 6, 184, 0.1),
    0 1px 1px rgba(128, 6, 184, 0.1),
    0 20px 30px -30px rgba(76, 195, 138, 0.05),
    0 80px 40px -40px rgba(128, 6, 184, 0.04),
    inset 0.25px 0.3px 0px 0.3px rgba(209, 243, 227, 0.1),
    inset 0.25px 0.3px 0px 0.3px rgba(76, 195, 138, 0.02),
    inset 0 -3px 0 -2px rgba(255, 255, 255, 0.08),
    0px 4px 20px rgba(118, 7, 170, 0.1);
}

.hero {
  line-height: 1.15;
  letter-spacing: -0.05em;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    line-height: 1;
  }
}

.description {
  font-size: 20px;
  line-height: 1.4;
  color: var(--lw-secondary-color);
  text-align: center;
  margin: 30px auto;
  max-width: 350px;
}

@media (min-width: 768px) {
  .description {
    font-size: 24px;
    max-width: 415px;
  }
}

.ticket-text {
  margin-bottom: 30px;
}

.ticket-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;
  margin: auto;
  padding: var(--space-4x);
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (min-width: 1200px) {
  .ticket-layout {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ticket-share-layout {
  align-items: center;
  margin-bottom: auto;
}

.ticket-visual:before {
  left: 50%;
  top: -7.5%;
  transform: translateZ(0) translateX(-50%) rotate(90deg);
}

.ticket-visual:after {
  left: 50%;
  bottom: -7.5%;
  transform: translateZ(0) translateX(-50%) rotate(90deg);
}

@media (min-width: 768px) {
  .ticket-visual:before {
    top: 50%;
    left: -7%;
    transform: translateZ(0) translateY(-50%);
  }

  .ticket-visual:after {
    top: 50%;
    left: 96%;
    transform: translateZ(0) translateY(-50%);
  }
}

.ticket-actions {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ticket-copy {
  margin-top: 30px;
}

.ticket-actions-placeholder {
  height: 280px;
}

@media (min-width: 768px) {
  .ticket-actions {
    flex-direction: row;
  }
  .ticket-actions-placeholder {
    height: 157px;
  }
}

@media (min-width: 1200px) {
  .ticket-layout {
    grid-template-columns: 1fr 1fr;
  }
  .hero {
    text-align: left;
  }
  .description {
    text-align: left;
    margin: 30px 0;
  }
}

.gold-text {
  color: #f4cf72;
  text-shadow:
    0 0 1px rgba(0, 0, 0, 0.5),
    0 0 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .gold-text {
    color: #e4b641;
  }
}

.ticket-number {
  text-shadow:
    0 0px 2px rgba(22, 22, 22, 0.9),
    0 0px 6px rgba(131, 6, 184, 0.9),
    0 0px 12px rgba(217, 195, 226, 0.5);
}
.ticket-number-gold {
  text-shadow:
    0 0px 2px rgba(22, 22, 22, 0.9),
    0 0px 6px rgba(255, 195, 125, 0.9),
    0 0px 12px rgba(226, 224, 195, 0.5);
}
