<div class="p-3 max-h-14 flex align-center justify-between border">
  <span class="truncate flex-grow">
    <input
      class="cursor-pointer mr-2"
      (change)="toggleComplete.emit()"
      type="checkbox"
      [checked]="todo?.is_complete"
    />
    <span [ngClass]="{ 'line-through': todo?.is_complete }" class="w-full flex-grow">
      {{ todo?.task }}
    </span>
  </span>
  <button type="button" class="font-mono text-red-500 text-xl border px-2" (click)="delete.emit()">
    X
  </button>
</div>
