:root {
        --ui-spacing-scale: 2;
  --ui-spacing-xs: 4;
  --ui-spacing-sm: 8;
  --ui-spacing-md: 16;
  --ui-spacing-lg: 32;
  --ui-spacing-xl: 64;
  --ui-sizing-scale: 1.5;
  --ui-sizing-xs: 4;
  --ui-sizing-sm: 6;
  --ui-sizing-md: 9;
  --ui-sizing-lg: 13.5;
  --ui-sizing-xl: 20.25;
  --ui-border-radius-sm: 4;
  --ui-border-radius-lg: 8;
  --ui-border-radius-xl: 16;
  --ui-border-radius-xs: 2;
  --ui-border-radius-table-header: 4;
  --ui-border-width-none: 0;
  --ui-border-width-xs: 1;
  --ui-border-width-sm: 2;
  --ui-border-width-md: 4;
  --ui-border-width-lg: 8;
  --ui-colors-black: #000000;
  --ui-colors-white: #ffffff;
  --ui-colors-gray-dark-1: #161616;
  --ui-colors-gray-dark-2: #1c1c1c;
  --ui-colors-gray-dark-3: #232323;
  --ui-colors-gray-dark-4: #282828;
  --ui-colors-gray-dark-5: #2e2e2e;
  --ui-colors-gray-dark-6: #343434;
  --ui-colors-gray-dark-7: #3e3e3e;
  --ui-colors-gray-dark-8: #505050;
  --ui-colors-gray-dark-9: #707070;
  --ui-colors-gray-dark-10: #7e7e7e;
  --ui-colors-gray-dark-11: #a0a0a0;
  --ui-colors-gray-dark-12: #ededed;
  --ui-colors-gray-dark-alpha-1: #00000000;
  --ui-colors-gray-dark-alpha-2: #ffffff08;
  --ui-colors-gray-dark-alpha-3: #ffffff0f;
  --ui-colors-gray-dark-alpha-4: #ffffff14;
  --ui-colors-gray-dark-alpha-5: #ffffff1a;
  --ui-colors-gray-dark-alpha-6: #ffffff21;
  --ui-colors-gray-dark-alpha-7: #ffffff2b;
  --ui-colors-gray-dark-alpha-8: #ffffff40;
  --ui-colors-gray-dark-alpha-9: #ffffff63;
  --ui-colors-gray-dark-alpha-10: #ffffff73;
  --ui-colors-gray-dark-alpha-11: #ffffff96;
  --ui-colors-gray-dark-alpha-12: #ffffffeb;
  --ui-colors-gray-light-1: #fcfcfc;
  --ui-colors-gray-light-2: #f8f8f8;
  --ui-colors-gray-light-3: #f3f3f3;
  --ui-colors-gray-light-4: #ededed;
  --ui-colors-gray-light-5: #e8e8e8;
  --ui-colors-gray-light-6: #e2e2e2;
  --ui-colors-gray-light-7: #dbdbdb;
  --ui-colors-gray-light-8: #c7c7c7;
  --ui-colors-gray-light-9: #8f8f8f;
  --ui-colors-gray-light-10: #858585;
  --ui-colors-gray-light-11: #6f6f6f;
  --ui-colors-gray-light-12: #171717;
  --ui-colors-gray-light-alpha-1: #00000003;
  --ui-colors-gray-light-alpha-2: #00000008;
  --ui-colors-gray-light-alpha-3: #0000000d;
  --ui-colors-gray-light-alpha-4: #00000012;
  --ui-colors-gray-light-alpha-5: #00000017;
  --ui-colors-gray-light-alpha-6: #0000001c;
  --ui-colors-gray-light-alpha-7: #00000024;
  --ui-colors-gray-light-alpha-8: #00000038;
  --ui-colors-gray-light-alpha-9: #00000070;
  --ui-colors-gray-light-alpha-10: #0000007a;
  --ui-colors-gray-light-alpha-11: #0000008f;
  --ui-colors-gray-light-alpha-12: #000000e8;
  --ui-colors-slate-dark-1: #151718;
  --ui-colors-slate-dark-2: #1a1d1e;
  --ui-colors-slate-dark-3: #202425;
  --ui-colors-slate-dark-4: #26292b;
  --ui-colors-slate-dark-5: #2b2f31;
  --ui-colors-slate-dark-6: #313538;
  --ui-colors-slate-dark-7: #3a3f42;
  --ui-colors-slate-dark-8: #4c5155;
  --ui-colors-slate-dark-9: #697177;
  --ui-colors-slate-dark-10: #787f85;
  --ui-colors-slate-dark-11: #9ba1a6;
  --ui-colors-slate-dark-12: #ecedee;
  --ui-colors-slate-dark-alpha-1: #00000000;
  --ui-colors-slate-dark-alpha-2: #d5feff08;
  --ui-colors-slate-dark-alpha-3: #d6fbfc0f;
  --ui-colors-slate-dark-alpha-4: #e2f0fd14;
  --ui-colors-slate-dark-alpha-5: #dff3fd1c;
  --ui-colors-slate-dark-alpha-6: #dfeffe24;
  --ui-colors-slate-dark-alpha-7: #e0f3ff2e;
  --ui-colors-slate-dark-alpha-8: #e5f2fe42;
  --ui-colors-slate-dark-alpha-9: #e1f1ff69;
  --ui-colors-slate-dark-alpha-10: #e7f3ff78;
  --ui-colors-slate-dark-alpha-11: #eff7ff9e;
  --ui-colors-slate-dark-alpha-12: #fdfeffed;
  --ui-colors-slate-light-1: #fbfcfd;
  --ui-colors-slate-light-2: #f8f9fa;
  --ui-colors-slate-light-3: #f1f3f5;
  --ui-colors-slate-light-4: #eceef0;
  --ui-colors-slate-light-5: #e6e8eb;
  --ui-colors-slate-light-6: #dfe3e6;
  --ui-colors-slate-light-7: #d7dbdf;
  --ui-colors-slate-light-8: #c1c8cd;
  --ui-colors-slate-light-9: #889096;
  --ui-colors-slate-light-10: #7e868c;
  --ui-colors-slate-light-11: #687076;
  --ui-colors-slate-light-12: #11181c;
  --ui-colors-slate-light-alpha-1: #05448205;
  --ui-colors-slate-light-alpha-2: #05294d08;
  --ui-colors-slate-light-alpha-3: #0025490d;
  --ui-colors-slate-light-alpha-4: #021c3714;
  --ui-colors-slate-light-alpha-5: #0217351a;
  --ui-colors-slate-light-alpha-6: #01213921;
  --ui-colors-slate-light-alpha-7: #001a3329;
  --ui-colors-slate-light-alpha-8: #011e323d;
  --ui-colors-slate-light-alpha-9: #00111e78;
  --ui-colors-slate-light-alpha-10: #00101b82;
  --ui-colors-slate-light-alpha-11: #000e1896;
  --ui-colors-slate-light-alpha-12: #00080ced;
  --ui-opacity-low: 10%;
  --ui-opacity-md: 50%;
  --ui-opacity-high: 90%;
  --ui-font-families-heading: Inter;
  --ui-font-families-body: Circular Std;
  --ui-font-families-roboto: Roboto;
  --ui-font-families-body2: Circular Std;
  --ui-font-families-mono: Office Code Pro;
  --ui-line-heights-0: 110%;
  --ui-line-heights-heading: 110%;
  --ui-line-heights-base: 24;
  --ui-line-heights-xs: 16;
  --ui-line-heights-sm: 20;
  --ui-line-heights-lg: 28;
  --ui-line-heights-xl: 28;
  --ui-line-heights-2xl: 32;
  --ui-line-heights-3xl: 36;
  --ui-line-heights-4xl: 40;
  --ui-line-heights-5xl: 48;
  --ui-line-heights-6xl: 60;
  --ui-line-heights-7xl: 72;
  --ui-line-heights-8xl: 96;
  --ui-line-heights-9xl: 128;
  --ui-letter-spacing-0: 0%;
  --ui-letter-spacing-1: -2%;
  --ui-letter-spacing-default: 0;
  --ui-letter-spacing-increased: 10%;
  --ui-letter-spacing-decreased: -5%;
  --ui-letter-spacing-8: 8%;
  --ui-paragraph-spacing-0: 26;
  --ui-paragraph-spacing-1: 32;
  --ui-paragraph-spacing-h1: 32;
  --ui-paragraph-spacing-h2: 26;
  --ui-font-weights-heading-regular: Regular;
  --ui-font-weights-heading-bold: Bold;
  --ui-font-weights-body-regular: Regular;
  --ui-font-weights-body-bold: Bold;
  --ui-font-weights-roboto-0: Regular;
  --ui-font-weights-inter-1: Medium;
  --ui-font-weights-inter-2: Book;
  --ui-font-weights-heading-mono: Medium;
  --ui-font-sizes-5xl: 48;
  --ui-font-sizes-4xl: 36;
  --ui-font-sizes-3xl: 30;
  --ui-font-sizes-2xl: 24;
  --ui-font-sizes-xl: 20;
  --ui-font-sizes-lg: 18;
  --ui-font-sizes-base: 16;
  --ui-font-sizes-sm: 14;
  --ui-font-sizes-xs: 12;
  --ui-font-sizes-6xl: 60;
  --ui-font-sizes-7xl: 72;
  --ui-font-sizes-8xl: 96;
  --ui-font-sizes-9xl: 128;
  --ui-inner-shadow-label-copy: [object Object];
  --ui-inner-shadow-text-new: [object Object];
  --ui-font-size-0: 14;
  --ui-font-size-1: 39.063;
  --ui-font-size-2: 48.829;
  --ui-text-case-none: none;
  --ui-text-case-uppercase: uppercase;
  --ui-text-decoration-none: none;
  --ui-variables-colors-brand-primary: #3ecf8e;
  --ui-variables-colors-brand-accent: #34b97d;
  --ui-icon-xs: 12;
  --ui-icon-sm: 16;
  --ui-icon-md: 18;
  --ui-icon-bg: 0.15;
  --ui-icon-width-default: 1;
  --ui-form-input-disabled: 33%;
  --ui-modal-drop-shadow: [object Object];
  --ui-panel: 2;
  --ui-datatable-headericon: 16;
  --ui-datatable-rowheight: 28;
  --ui-options-icon: 18;
  --ui-input-sm-height: 28;
  --ui-panel2: 4;
  --ui-base: 16;
  --ui-xxl: 128;
  --ui-action-bar-vertical: 21;
  --ui-action-bar-horizontal: 32;
  --ui-table-header-horizontal: 32;
  --ui-tabs-horizontal: 16;
  --ui-content-vertical: 32;
  --ui-content-horizontal: 32;
  --ui-controller-vertical: 16;
    }