.icon-react-one {
  @apply absolute w-20 z-10;
  right: 13%;
  top: 8%;
}
.icon-electron {
  @apply absolute w-16 z-0;
  left: 17%;
  top: 35%;
}
.icon-vue {
  @apply absolute w-16 z-10;
  right: 33%;
  top: 3%;
}
.icon-angular {
  @apply absolute w-12 z-10;
  right: 21%;
  top: 33%;
}
.icon-flutter {
  @apply absolute w-16 z-10;
  left: 5%;
  top: 15%;
}
.icon-nuxt {
  @apply absolute w-12 z-10;
  right: 5%;
  top: 28%;
}
.icon-redwood {
  @apply absolute w-14 z-10;
  /* background-color: yellow; */
  left: 15%;
  top: 5%;
}
