@import url('https://gitcdn.xyz/repo/kiwicopple/assets/master/public/css/metro.css');

/**
 * Root variables
 *
 * Override the default Infima variables here. These values cascade down to
 * the rest of the elements.
 */

:root,
:root[data-theme=''],
:root[data-theme='dark'] {
  /* See theme-specific "--custom" vars below  */

  /* 
    Customisation here for both Light and Dark themes
  */
  --custom-font-base: 'Metro', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  --custom-font-code: 'Source Code Pro', Menlo, monospace;
  --custom-font-size-base: 1rem;
  --custom-border-radius: 3px;
  --custom-border-radius-md: 6px;
  --custom-primary-darkest: #10633e;
  --custom-primary-darker: #1c8656;
  --custom-primary-dark: #38bc81;
  --custom-primary: #24b47e;
  --custom-primary-light: #65d9a5;
  --custom-primary-lighter: #9fe7c7;
  --custom-primary-lightest: #c5f1dd;
  --custom-background-color: #fdfdfd;
  --custom-background-color-highlight: #fff;
  --custom-background-color-diff: #f5f6f7;
  --custom-background-color-diff-1: #eee;
  --custom-background-color-diff-2: #ccc;
  --custom-content-color: #1f1f1f;
  --custom-content-color-light: #484848;
  --custom-content-color-lightest: #333;
  --custom-content-color-emphasis: #000;
  --custom-border-color: #e0e0e0;
  --custom-color-subtle: #ccc;
  --custom-shadow-lw: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  --custom-shadow-md: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  --custom-shadow-tl: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --custom-shadow-xl: 0 30px 60px 0 rgba(0, 0, 0, 0.1);

  /* 
    Infirma overrides with customisation
  */
  /* Colors */
  --ifm-color-content: var(--custom-content-color);
  --ifm-heading-color: var(--custom-content-color);
  --ifm-background-color: var(--custom-background-color);
  --ifm-sidebar-background: var(--custom-background-color);
  --ifm-color-content-secondary: var(--custom-content-color-light);
  --ifm-code-background: var(--custom-background-color-diff);
  --ifm-code-background-dark: #2a2a2a;

  /* Primary */
  --ifm-color-primary-darkest: var(--custom-primary-darkest);
  --ifm-color-primary-darker: var(--custom-primary-darker);
  --ifm-color-primary-dark: var(--custom-primary-dark);
  --ifm-color-primary: var(--custom-primary);
  --ifm-color-primary-light: var(--custom-primary-light);
  --ifm-color-primary-lighter: var(--custom-primary-lighter);
  --ifm-color-primary-lightest: var(--custom-primary-lightest);

  /* Info */
  --ifm-color-info-darker: var(--custom-background-color-diff-2);
  --ifm-color-info-dark: var(--custom-background-color-diff-1);
  --ifm-color-info: var(--custom-background-color-diff);

  /* Fonts */
  --ifm-font-base-color: var(--custom-content-color);
  --ifm-font-family-base: var(--custom-font-base);
  --ifm-font-family-monospace: var(--custom-font-code);
  --ifm-heading-font-family: var(--custom-font-base);
  --ifm-font-size-base: var(--custom-font-size-base);
  --ifm-heading-font-weight: 700;
  --ifm-font-weight-bold: 700;

  /* Globals */
  --ifm-global-shadow-lw: var(--custom-shadow-lw);
  --ifm-global-shadow-md: var(--custom-shadow-md);
  --ifm-global-shadow-tl: var(--custom-shadow-tl);
  --ifm-contents-border-color: var(--custom-border-color);
  --ifm-hr-border-color: var(--custom-border-color);
  --ifm-code-border-radius: var(--custom-border-radius);
  --ifm-button-border-radius: var(--custom-border-radius);
  --ifm-col-spacing-vertical: 0.5rem;
  --ifm-link-hover-decoration: none;

  /* Buttons */
  --ifm-button-background-color: var(--custom-background-color);
  /* --ifm-button-color: var(--custom-content-color); Not great - changes the green buttons to have black text */

  /* Navbar */
  --ifm-navbar-background-color: var(--custom-background-color);

  /* Footer */
  --ifm-footer-background-color: var(--custom-background-color);

  /* Hero */
  --ifm-hero-background-color: var(--custom-background-color);
  --ifm-hero-text-color: var(--custom-content-color);

  /* Sidebar */
  --ifm-sidebar-border-color: var(--custom-border-color);
  --ifm-menu-color-active: var(--custom-primary);

  /* Panel */
  --ifm-panel-border-color: var(--custom-border-color);
  --ifm-panel-border-color-active: var(--custom-primary);
  --ifm-panel-background-solid: var(--custom-background-color);

  /* Card */
  --ifm-card-background-color: var(--custom-background-color);
  --ifm-card-border-radius: var(--custom-border-radius-md);

  /* Tables */
  --ifm-table-border-color: var(--custom-border-color);
  --ifm-table-stripe-background: var(--custom-background-color-diff);
}

:root[data-theme='dark'] {
  --custom-primary-darkest: #10633e;
  --custom-primary-darker: #1c8656;
  --custom-primary-dark: #38bc81;
  --custom-primary: #3ecf8e;
  --custom-primary-light: #65d9a5;
  --custom-primary-lighter: #9fe7c7;
  --custom-primary-lightest: #c5f1dd;
  --custom-color-subtle: #484848;

  --custom-background-color: #1f1f1f;
  --custom-background-color-highlight: #2a2a2a;
  --custom-background-color-diff: #2a2a2a;
  --custom-background-color-diff-1: #484848;
  --custom-background-color-diff-2: #666;
  --custom-content-color: #ddd;
  --custom-content-color-light: #aaa;
  --custom-content-color-lightest: #fefefe;
  --custom-content-color-emphasis: #fff;
  --custom-border-color: #444444;
  --custom-shadow-lw: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  --custom-shadow-md: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  --custom-shadow-tl: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --custom-shadow-xl: 0 30px 60px 0 rgba(0, 0, 0, 0.5);

  --ifm-color-gray-100: rgba(224, 235, 247, 0.9);
  --ifm-color-gray-150: rgba(224, 235, 247, 0.85);
  --ifm-color-gray-200: rgba(224, 235, 247, 0.8);
  --ifm-color-gray-300: rgba(224, 235, 247, 0.75);
  --ifm-color-gray-400: rgba(224, 235, 247, 0.7);
  --ifm-color-gray-500: rgba(224, 235, 247, 0.65);
  --ifm-color-gray-600: rgba(224, 235, 247, 0.6);
  --ifm-color-gray-700: rgba(224, 235, 247, 0.55);
  --ifm-color-gray-800: rgba(224, 235, 247, 0.5);
  --ifm-color-gray-900: rgba(224, 235, 247, 0.45);
  --ifm-color-secondary-darker: #000;
  --ifm-color-secondary-dark: #1f1f1f;
  --ifm-color-secondary: #2a2a2a;
  --ifm-color-secondary-light: #2f2f2f;
  --ifm-color-secondary-lighter: #313131;
  --ifm-color-secondary-lightest: #333333;

  /* Button */
  --ifm-button-background-color: var(--custom-background-color-highlight);

  /* Card */
  --ifm-card-background-color: var(--custom-background-color-highlight);
}

html,
body {
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root[data-theme='light'] .navbar__logo.logo--dark,
:root[data-theme=''] .navbar__logo.logo--dark,
:root .navbar__logo.logo--dark {
  display: none;
}
:root[data-theme='light'] .navbar__logo.logo--light,
:root[data-theme=''] .navbar__logo.logo--light,
:root .navbar__logo.logo--light {
  display: inline-block;
}
:root[data-theme='dark'] .navbar__logo.logo--light {
  display: none;
}
:root[data-theme='dark'] .navbar__logo.logo--dark {
  display: inline-block;
}

.button.button--primary {
  text-shadow: 0px 0px 6px rgba(13, 128, 86, 0.4);
}
.button.button--secondary {
  color: var(--custom-content-color);
  /* background-color: var(--custom-background-color); */
}
.button.button--secondary:hover {
  background-color: var(--custom-background-color-diff-1);
}
:root[data-theme='dark'] .button.button--secondary:hover {
  background-color: var(--custom-background-color-highlight);
}
.button.button--secondary.button--outline {
  border-color: #333;
}
:root[data-theme='dark'] .button.button--secondary {
  /* background-color: var(--custom-background-color-highlight); */
  border-color: #fff;
}
.hero--button {
  text-transform: uppercase;
  padding: 10px 25px;
  font-weight: bold;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@media screen and (min-width: 768px) {
  html,
  body {
    text-rendering: optimizeLegibility;
  }
}

li + li {
  margin-top: 0;
}

.button--lg {
  text-transform: uppercase;
}

.title {
  font-weight: bold;
  color: var(--custom-content-color-lightest) !important;
}

.navbar__brand strong {
  font-family: var(--ifm-heading-font-family);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  /* font-style: italic; */
}

.navbar,
.main-wrapper {
  box-shadow: var(--ifm-global-shadow-md);
}
.navbar .navbar__link {
  font-weight: bold;
}
.navbar-sidebar__items .menu__link {
  line-height: calc(var(--ifm-spacing-vertical) * 2) !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 10px !important;
}

/* .with-underline::after,
.markdown h2:after {
  content: '\2501\2501';
  display: block;
  color: #333;
} */
article header {
  margin-bottom: 3rem;
}

.hero.is--dark {
  background-color: var(--custom-background-color-diff);
}

/* Sidebar */

@media screen and (max-width: 996px) {
  .navbar .navbar__items--right {
    display: none;
  }
}

.navbar .navbar__items--right .react-toggle {
  margin-left: var(--ifm-navbar-item-padding-horizontal);
}
.navbar .navbar__item .badge {
  border-color: var(--ifm-background-color) !important;
  border-radius: 1em;
  display: block;
  float: right;
  font-size: 0.6em;
  line-height: 1;
  margin-top: -0.7em;
  margin-right: -1.5em;
  margin-left: -0.5em;
  padding: 0.3em 0.5em;
  position: relative;
  z-index: 1;
}
.navbar-sidebar__brand .navbar__brand {
  flex: 1 0;
}
.navbar-sidebar__brand .react-toggle {
  flex: 0;
  text-align: right;
}
.navbar-sidebar__items .menu .menu__link {
  color: var(--ifm-color-content);
  display: block;
}
.navbar-sidebar__items .menu .menu__link .badge {
  border-color: var(--ifm-background-color);
  border-radius: 1em;
  font-size: 0.6em;
  margin-top: -1em;
  margin-left: 0.25em;
}

@media screen and (max-width: 996px) {
  .row .col {
    padding-top: var(--ifm-col-spacing-vertical);
    padding-bottom: var(--ifm-col-spacing-vertical);
  }
}
a.card {
  text-decoration: none !important;
  color: var(--ifm-color-content);
  box-shadow: none;
  border: 1px solid #333;
  /* background-color: var(--ifm-background-color); */
}
a.card:hover {
  transition: all 0.2s ease;
  border: 1px solid var(--custom-primary);
  box-shadow: var(--custom-shadow-xl), 0 0 0 1px var(--custom-primary) !important;
}

/*
 * Docs
 */

.menu > ul.menu__list li {
  margin-top: 0;
  margin-bottom: 0;
}
.menu > ul.menu__list li > a {
  padding-left: 0;
  padding-right: 0;
}
.menu .menu__list-item-hidden {
  display: none;
}
.menu > ul.menu__list > li.menu__list-item div.title {
  color: var(--custom-content-color-light);
  cursor: text;
  display: flex;
  justify-content: space-between;
  line-height: calc(var(--ifm-spacing-vertical) * 1.25);
  margin-top: calc(var(--ifm-spacing-vertical) * 1.5);
  margin-bottom: 0;
  padding: var(--ifm-menu-link-padding-vertical) 0;
  /* font-weight: bold; */
  text-transform: uppercase;
  font-size: 0.9em;
}
.menu > ul.menu__list > li.menu__list-item:first-child div.title {
  margin-top: 0;
}
.menu > ul.menu__list ul.menu__list {
  border-left: 1px solid var(--custom-border-color);
  margin-left: 0;
  padding-left: var(--ifm-menu-link-padding-horizontal);
}
.menu > ul.menu__list ul.menu__list .menu__link {
  border-radius: 0;
  font-size: 0.85rem;
  margin-left: calc(var(--ifm-menu-link-padding-horizontal) * -1);
  padding-left: var(--ifm-menu-link-padding-horizontal);
}
.menu > ul.menu__list > li > ul.menu__list {
  border-left: 0px none;
  padding-left: 0;
}
.menu .menu__link,
.menu .menu__link:hover,
.menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  background: none;
  line-height: calc(var(--ifm-spacing-vertical) * 1);
}
.menu .menu__link.menu__link--sublist::after {
  background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-6 -6 38 38"><path fill="rgba(0,0,0,0.3)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: var(--ifm-transition-fast) ease;
}
.menu .menu__link.menu__link--sublist:hover::after,
.menu .menu__link.menu__link--sublist.menu__link--active::after {
  background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-6 -6 38 38"><path fill="rgb(40,217,242)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}
.menu .menu__list-item.menu__list-item--collapsed .menu__link--sublist::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu .menu__link:hover {
  color: var(--ifm-menu-color-active);
}
.menu .menu__link .badges {
  vertical-align: top;
  margin-top: -1px;
}
.menu .menu__link .badge {
  background-clip: padding-box;
  border: 1px solid var(--custom-content-color-light);
  border-radius: 0.25em;
  display: inline-block;
  font-family: monospace;
  font-size: 0.5rem;
  font-weight: bold;
  height: 1rem;
  line-height: 1rem;
  margin-right: 2px;
  padding: 0 0.25rem;
  vertical-align: middle;
}

.menu.menu--responsive .menu__button {
  background: var(--ifm-panel-background-solid);
  bottom: 0;
  right: 0;
  padding: 10px;
  border: none;
  border-top: 1px solid var(--custom-border-color) !important;
}

div[class^='docItemContainer_'] {
  max-width: none;
}
@media (min-width: 997px) {
  div[class^='docItemContainer_'] {
    max-width: none;
    padding: 0 calc(var(--ifm-spacing-horizontal) * 2);
  }
}

main[class^='docMainContainer_'] div.container div.row div.col.col--3 {
  padding-left: 0;
}

div[class^='docSidebarContainer_'] {
  border-right-color: var(--ifm-sidebar-border-color);
  max-width: 250px;
  min-width: 250px;
}

div[class^='sidebar_'] {
  font-size: 0.85rem;
}
div[class^='sidebar_'] .menu {
  background: var(--ifm-sidebar-background);
  margin-right: calc(var(--ifm-spacing-horizontal) * -1);
  padding-bottom: var(--ifm-spacing-vertical);
}

div[class^='sidebar_'] .menu {
  margin-right: calc(var(--ifm-spacing-horizontal) * -1);
}
div[class^='sidebar_'] .menu .menu__link {
  padding-right: var(--ifm-menu-link-padding-horizontal);
}
div[class^='sidebar_'] .menu__link.menu__link--active:not(.menu__link--sublist) {
  border-radius: 0;
  border-right: 2px solid var(--ifm-color-primary);
  padding-right: calc(var(--ifm-menu-link-padding-horizontal) - 2px);
}
div[class^='sidebar_'] .menu__link.menu__link--active:not(.menu__link--sublist) .badge {
  background: var(--ifm-color-primary);
  border: 1px solid var(--ifm-color-primary);
  color: white;
}
@media (min-width: 997px) {
  div[class^='sidebar_'] {
    padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  }
}
.menu.menu--responsive .button.button--secondary.button--sm.menu__button {
  transition: all 0.2s ease;
  width: 100%;
  margin: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
  text-align: right;
  opacity: 0.8;
}
.menu.menu--responsive .button.button--secondary.button--sm.menu__button:hover,
.menu.menu--responsive .button.button--secondary.button--sm.menu__button:active {
  opacity: 1;
  background-color: var(--custom-background-color);
}

.DummyData {
  display: flex;
  overflow-x: auto;
}
.DummyData div {
  padding-right: 30px;
}
.Collapsable summary {
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.Collapsable summary:hover {
  cursor: pointer;
}

/* Code */
.prism-code {
  background: var(--ifm-code-background-dark) !important;
  white-space: pre !important;
  font-size: 0.8rem;
  overflow: auto !important;
}
.code-with-header pre {
  border-radius: 0 0 4px 4px;
}
.code-with-response pre {
  border-radius: 0;
}
.code-header {
  background: var(--ifm-code-background-dark);
  color: #ccc;
  padding: 5px 15px;
  border-radius: 4px 4px 0 0;
  font-size: 0.8rem;
  font-weight: bold;
  /* text-transform: uppercase; */
  border-bottom: 1px solid #444;
}
.token.keyword.module,
.token.function {
  font-style: normal !important;
  color: #dcdcaa !important;
}
.token.plain,
.token.parameter,
.token.doc-comment.parameter,
.token.doc-comment.optional-parameter,
.token.doc-comment.parameter.punctuation,
.token.doc-comment.optional-parameter.punctuation {
  font-style: normal !important;
  color: #9cdcfe !important;
}
.token.keyword,
.token.doc-comment.keyword {
  font-style: normal !important;
  color: #569cd6 !important;
}
.token.string {
  font-style: normal !important;
  color: #ce9178 !important;
}
.token.console {
  font-style: normal !important;
  color: #49c1ad !important;
}
.token.comment {
  font-style: normal !important;
  color: #6a9955 !important;
}
.token.number {
  color: #b5cea8 !important;
}
.token.boolean,
.token.doc-comment.class-name {
  color: var(--custom-primary) !important;
}

/* HomePage */
.ForDevelopers .row {
  display: flex;
  flex-direction: row-reverse;
}
.ForDevelopers .button {
  text-align: left;
}
.ForDevelopers .button.button--link:hover {
  text-decoration: none;
  transition: all 0.2s ease;
  opacity: 0.8;
}

.react-toggle-thumb {
  box-shadow: none !important;
}
a.hash-link {
  text-decoration: none;
  font-style: none;
  color: var(--custom-color-subtle);
}

.footer {
  border-top: 1px solid var(--custom-border-color);
  padding-bottom: 80px;
}

.has-emphasis {
  color: var(--custom-content-color-emphasis);
}

.ButtonTabs {
  padding-left: 0 !important;
}
.ButtonTabs .button {
  width: 100%;
  display: block;
  color: var(--custom-content-color) !important;
  margin-right: 10px;
  margin-bottom: 8px;
  border: 2px solid var(--ifm-button-background-color) !important;
}
.ButtonTabs .button.is-active,
.ButtonTabs .button:hover,
.ButtonTabs:hover .button.is-active:hover {
  border: 2px solid var(--custom-primary) !important;
  box-shadow: var(--custom-shadow-lw);
}
/* Disable the border on the active button when hovering across the buttons */
.ButtonTabs:hover .button.is-active {
  border: 2px solid var(--ifm-button-background-color) !important;
}
/* But */
@media screen and (max-width: 997px) {
  .ButtonTabs {
    padding-left: var(--ifm-spacing-horizontal) !important;
  }
  .ButtonTabs > div {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
  }
  .ButtonTabs .button {
    display: inline-block;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .responsive-button {
    width: 100%;
    margin: 5px 0 !important;
  }
}

@media screen and (min-width: 996px) {
  .row.is-multiline .col {
    margin-top: var(--ifm-spacing-horizontal) !important;
    margin-bottom: var(--ifm-spacing-horizontal) !important;
  }
}

.has-hover-pointer:hover {
  cursor: pointer;
}
.section-md {
  margin: 2rem 0;
}
.section-lg {
  margin: 5rem 0;
}
.hidden {
  display: none;
}



.HowSections .col {
  margin-bottom: 20px;
}
.HowSections img.diagram {
    margin: 0px auto 30px auto;
    display: block;
}
.HowCard {
  position: relative;
}
.HowCard::before,
.HowCard::after {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  left: 50%;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-bottom: -1px;
}
.HowCard::before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
  border-width: 12px;
  margin-left: -12px;
}
.HowCard::after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid var(--ifm-card-background-color);
  border-width: 11px;
  margin-left: -11px;
}
