name: Authorize Vercel Deploys

on:
  # only run this workflow when the validate-pr workflow completes (successfully or not)
  workflow_run:
    workflows: ['Validate pull request']
    types: [completed]

# Cancel old builds on new commit for same workflow + branch/PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.workflow_run.head_branch || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  authorize-vercel-deploys:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      # Checkout the master branch from the supabase repo and run that script to authorize Vercel deploys
      - name: Check out repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          ref: master
          # fetch only the root files and scripts folder
          sparse-checkout: |
            scripts
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          run_install: false
      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Download dependencies
        run: |
          pnpm install --frozen-lockfile
      - name: Authorize Vercel Deploys
        run: |-
          pnpm run authorize-vercel-deploys
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
