# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Docs Compilation Check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
      - 'web/**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install Deps
      run: |
        sudo apt-get update
        sudo apt-get -y install jq
        npm ci
      working-directory: ./web
      
    - name: Pull Specs
      run: make
      working-directory: ./web/spec
      
    - name: Build
      run: npm run build
      working-directory: ./web
