name: '[Docs] Update last-changed dates'

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      reset:
        description: 'Reset last-updated dates using Git commit dates'
        required: false
        type: boolean

permissions:
  contents: read

jobs:
  deploy:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    env:
      NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.SEARCH_SUPABASE_URL }}
      SUPABASE_SECRET_KEY: ${{ secrets.SEARCH_SUPABASE_SERVICE_ROLE_KEY }}

    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0
          sparse-checkout: |
            apps/docs

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          run_install: false

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Download dependencies
        run: pnpm install --frozen-lockfile

      - name: Update last-changed dates
        working-directory: ./apps/docs
        if: ${{ !inputs.reset }}
        run: pnpm run last-changed

      - name: Reset last-changed dates
        working-directory: ./apps/docs
        if: ${{ inputs.reset }}
        run: pnpm run last-changed:reset
