# All syncs from the repo to the DB will eventually be consolidated in a single
# script run by this workflow.

name: docs_sync

on:
  push:
    branches:
      - master
    paths:
      # Resync if the content changes
      - 'apps/docs/content/**'
      # Resync if the resource definition or sync scripts change
      - 'apps/docs/resources/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sync:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    env:
      NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.SEARCH_SUPABASE_URL }}
      SUPABASE_SECRET_KEY: ${{ secrets.SEARCH_SUPABASE_SERVICE_ROLE_KEY }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          sparse-checkout: |
            apps/docs
            packages

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run sync script
        run: pnpm run --filter docs sync
