name: '[Docs] Update last-changed dates'

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      reset:
        description: 'Reset last-updated dates using Git commit dates'
        required: false
        type: boolean

permissions:
  contents: read

jobs:
  deploy:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    env:
      NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.SEARCH_SUPABASE_URL }}
      SUPABASE_SECRET_KEY: ${{ secrets.SEARCH_SUPABASE_SERVICE_ROLE_KEY }}

    steps:
      - name: Check out repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
          sparse-checkout: |
            apps/docs

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        name: Install pnpm
        with:
          run_install: false

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'

      - name: Download dependencies
        run: pnpm install --frozen-lockfile

      - name: Update last-changed dates
        working-directory: ./apps/docs
        if: ${{ !inputs.reset }}
        run: pnpm run last-changed

      - name: Reset last-changed dates
        working-directory: ./apps/docs
        if: ${{ inputs.reset }}
        run: pnpm run last-changed:reset
