name: "HCL AppScan CodeSweep"
on:
  pull_request:
    branches:
      - code-scan-rfc
    types: [opened,synchronize]
  push:
    branches:
      - code-scan-rfc
    paths:
      - .github/workflows/hcl-appscan.yml
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run AppScan CodeSweep
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v2.1
    env: 
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}