name: Deploy OG Images

on:
  push:
    branches:
      - master
    paths:
      - 'supabase/functions/og-images/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      PROJECT_ID: ${{ secrets.OG_IMAGE_SUPABASE_PROJECT_ID }}

    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Setup the Supabase CLI
        uses: supabase/setup-cli@b60b5899c73b63a2d2d651b1e90db8d4c9392f51 # v1.6.0
        with:
          version: latest

      - run: supabase functions deploy og-images --project-ref $PROJECT_ID --no-verify-jwt
