name: Self-Host Tests Smoke

on:
  pull_request:
    branches: ['master']
    paths:
      - 'docker/**/*'

# Cancel old builds on new commit for same workflow + branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          sparse-checkout: |
            docker/
      - name: Run docker-compose up
        # Ensure all services can be started and healthy with default config
        run: cd docker && cp .env.example .env && docker compose up --wait
